<style>
    .topjui-col-sm4, .topjui-col-sm6, .topjui-col-sm12 {
        margin-top: 10px;
    }
</style>
<input type="hidden" id="uuid" name="uuid">
<div class="topjui-fluid">
	<div class="topjui-row">
    																			<div class="topjui-col-sm6">
			<label class="topjui-form-label">考核ID</label>
			<div class="topjui-input-block">
								<input type="text" name="assessId"
					data-toggle="topjui-textbox"
					data-options="prompt:'考核ID'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">考核类型</label>
			<div class="topjui-input-block">
								<input type="text" name="assType"
					data-toggle="topjui-textbox"
					data-options="prompt:'考核类型'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">考核月份</label>
			<div class="topjui-input-block">
								<input type="text" name="assMonth"
					data-toggle="topjui-textbox"
					data-options="prompt:'考核月份'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">业务科室</label>
			<div class="topjui-input-block">
								<input type="text" name="mngTeam"
					data-toggle="topjui-numberbox"
					data-options="prompt:'业务科室'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">施工单位</label>
			<div class="topjui-input-block">
								<input type="text" name="teamNo"
					data-toggle="topjui-numberbox"
					data-options="prompt:'施工单位'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">工程编号</label>
			<div class="topjui-input-block">
								<input type="text" name="prjNo"
					data-toggle="topjui-textbox"
					data-options="prompt:'工程编号'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">工程名称</label>
			<div class="topjui-input-block">
								<input type="text" name="prjName"
					data-toggle="topjui-textbox"
					data-options="prompt:'工程名称'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">计划完成</label>
			<div class="topjui-input-block">
								<input type="text" name="planValue"
					data-toggle="topjui-textbox"
					data-options="prompt:'计划完成'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">生产完成</label>
			<div class="topjui-input-block">
								<input type="text" name="workValue"
					data-toggle="topjui-textbox"
					data-options="prompt:'生产完成'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">备注</label>
			<div class="topjui-input-block">
								<input type="text" name="remark"
					data-toggle="topjui-textbox"
					data-options="prompt:'备注'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">考核状态</label>
			<div class="topjui-input-block">
								<input type="text" name="assStatus"
					data-toggle="topjui-textbox"
					data-options="prompt:'考核状态'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">申请人</label>
			<div class="topjui-input-block">
								<input type="text" name="applyUser"
					data-toggle="topjui-textbox"
					data-options="prompt:'申请人'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">申请日期</label>
			<div class="topjui-input-block">
								<input type="text" name="applyDate"
					data-toggle="topjui-textbox"
					data-options="prompt:'申请日期'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">审核人</label>
			<div class="topjui-input-block">
								<input type="text" name="agreeUser"
					data-toggle="topjui-textbox"
					data-options="prompt:'审核人'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">审核日期</label>
			<div class="topjui-input-block">
								<input type="text" name="agreeDate"
					data-toggle="topjui-textbox"
					data-options="prompt:'审核日期'">
							</div>
		</div>
    		</div>
</div>