<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
<div data-toggle="topjui-layout" data-options="fit:true">
    <div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false">
        <table data-toggle="topjui-datagrid"
               data-options="id:'fAwardAssignDg',
               singleSelect:true,
               selectOnCheck:false,
               checkOnSelect:false,
               url:'/cost/fAwardAssign/getPageSet'">
            <thead>
            <tr>
				<th data-options="field:'assignId',title:'分配ID',sortable:true"></th>
				<th data-options="field:'awardId',title:'罚款ID',sortable:true"></th>
				<th data-options="field:'empId',title:'员工ID',sortable:true"></th>
				<th data-options="field:'empName',title:'员工姓名',sortable:true"></th>
				<th data-options="field:'awardBala',title:'罚款金额',sortable:true"></th>
				<th data-options="field:'remark',title:'分配说明',sortable:true"></th>
				<th data-options="field:'assignType',title:'分配类型',sortable:true"></th>
				<th data-options="field:'modiDate',title:'上报日期',sortable:true"></th>
				<th data-options="field:'modiUser',title:'上报人员',sortable:true"></th>
				<th data-options="field:'userName',title:'用户描述',sortable:true"></th>
				<th data-options="field:'isDel',title:'删除标记',sortable:true"></th>
				<th data-options="field:'uuid',title:'',sortable:true,checkbox:true"></th>
				<th data-options="field:'createTime',title:'',sortable:true"></th>
				<th data-options="field:'creator',title:'',sortable:true"></th>
				<th data-options="field:'creatorId',title:'',sortable:true"></th>
				<th data-options="field:'creatorOrgId',title:'',sortable:true"></th>
				<th data-options="field:'modifierId',title:'',sortable:true"></th>
				<th data-options="field:'modifier',title:'',sortable:true"></th>
				<th data-options="field:'modifyTime',title:'',sortable:true"></th>
			</tr>
            </thead>
        </table>
    </div>
</div>

<!-- 表格工具栏 -->
<div id="fAwardAssignDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'fAwardAssignDg'
       }" style="display:none">
		<ewsd:rbac str="fAwardAssignAddDialog">
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="method:'openDialog',
           extend:'#fAwardAssignDg-toolbar',
           btnCls:'topjui-btn-green',
           dialog:{
               id:'fAwardAssignAddDg',
               href:'/cost/fAwardAssign/edit',
               height:450,
               buttonsGroup:[
                   {text:'保存',url:'/cost/fAwardAssign/save',iconCls:'fa fa-plus',handler:'ajaxForm'}
               ]
           }">新增</a>
		</ewsd:rbac>

        <ewsd:rbac str="fAwardAssignEditDialog">
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="method:'openDialog',
           extend:'#fAwardAssignDg-toolbar',
           btnCls:'topjui-btn-blue',
           component:'edit',
           iconCls:'fa fa-pencil',
           dialog:{
               id:'fAwardAssignEditDg',
               href:'/cost/fAwardAssign/edit',
               url:'/cost/fAwardAssign/getDetailByUuid?uuid={uuid}',
               height:450,
               buttonsGroup:[
                   {text:'更新',url:'/cost/fAwardAssign/update',iconCls:'fa fa-save',handler:'ajaxForm',refresh:[{type:'datagrid',id:'fAwardAssignDg'}]}
               ]
           }">编辑</a>
		</ewsd:rbac>

        <ewsd:rbac str="/cost/fAwardAssign/deleteBatch">
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="method:'doAjax',
           extend:'#fAwardAssignDg-toolbar',
           btnCls:'topjui-btn-red',
	       iconCls:'fa fa-trash',
	       grid:{uncheckedMsg:'请先勾选要删除的用户',param:'uuid:uuid'},
	       url:'/cost/fAwardAssign/deleteBatch'">删除</a>
		</ewsd:rbac>
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="method:'filter',
       extend:'#fAwardAssignDg-toolbar',
       btnCls:'topjui-btn-orange'">过滤</a>
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="method:'search',
       extend:'#fAwardAssignDg-toolbar',
       btnCls:'topjui-btn-purple'">查询</a>
</div>
</th:block>

<th:block layout:fragment="js">

</th:block>
</body>
</html>