<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
    <div data-toggle="topjui-layout" data-options="fit:true">
        <div data-options="region:'west',iconCls:'icon-reload',title:'',split:true,border:false,width:'30%'">
            <table data-toggle="topjui-datagrid"
                   data-options="id:'checkDg',
               singleSelect:true,
               selectOnCheck:false,
               checkOnSelect:false,
               url:'/repository/inventEdit/getPageSet'">
                <thead>
                <tr>
                    <th data-options="field:'checkNo',title:'删除',sortable:false,formatter:function(value, row, index){if(row.checkStep=='72132'){return '<a style=&quot;font-weigth:bold;color:#00a0e9;cursor:pointer&quot; checkNo=&quot;'+ value +'&quot;>删除</a>'}else{return '---';}}"></th>
                    <th data-options="field:'checkStepName',title:'盘点步骤',sortable:false"></th>
                    <th data-options="field:'checkDate',title:'盘点日期',sortable:true"></th>
                    <th data-options="field:'checkEmp',title:'负责人员',sortable:true"></th>
                    <th data-options="field:'storeName',title:'仓库名称',sortable:true"></th>
                </tr>
                </thead>
            </table>
        </div>
        <form id="detailForm">
            <div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false">
                <table id="detailDg"></table>
            </div>
        </form>
    </div>

    <div id="checkDg-toolbar" class="topjui-toolbar"
         data-options="grid:{
           type:'datagrid',
           id:'checkDg'
       }" style="display:none">

        <label class="topjui-form-label" style="width:80px;float:none;display:inline-block">年份：</label>
        <select id="yearQry" data-toggle="topjui-combobox" name="yearQry" data-options="width:80" >
            <option th:each="i:${#numbers.sequence(2015, endYear)}" th:value="${i}" th:text="${i}" th:selected="${i==currentYear}"></option>
        </select>

        <ewsd:rbac str="mCheckAddDialog">
            <a href="javascript:void(0)"
               data-toggle="topjui-menubutton"
               data-options="method:'openDialog',
			extend:'#checkDg-toolbar',
			btnCls:'topjui-btn-green',
			dialog:{
                id:'mMaterialAddDg',
                href:'/repository/inventEdit/edit',
                height:450,
                width:800,
                buttonsGroup:[
                    {text:'保存',url:'/repository/inventEdit/save',iconCls:'fa fa-plus',handler:'ajaxForm'}
                ]
			}">新增</a>
        </ewsd:rbac>

        <a href="javascript:void(0)" id="searchBtn" class="l-btn topjui-btn-orange l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
            <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
                <span class="l-btn-text">查询</span>
                <span class="l-btn-icon fa fa-search">&nbsp;</span>
            </span>
        </a>
    </div>

    <div id="detailDg-toolbar" class="topjui-toolbar"
         data-options="grid:{
           type:'datagrid',
           id:'detailDg'
       }" style="display:none">

        <label class="topjui-form-label" style="width:80px;float:none;display:inline-block">库位编码：</label>
        <input id="siteNoQry" data-toggle="topjui-textbox" name="siteNoQry" data-options="width:'150px'" value="">
        <input type="hidden" name="checkNo" id="checkNo" />

        <label class="topjui-form-label" style="width:110px;float:none;display:inline-block">物料描述/编码：</label>
        <input id="matNameQry" data-toggle="topjui-textbox" name="matNameQry" data-options="width:'150px'" value="">

        <a href="javascript:void(0)" id="saveBtn" class="l-btn topjui-btn-green l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
            <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
                <span class="l-btn-text">保存</span>
                <span class="l-btn-icon fa fa-save">&nbsp;</span>
            </span>
        </a>

        <a href="javascript:void(0)" id="submitBtn" class="l-btn topjui-btn-blue l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
            <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
                <span class="l-btn-text">提交</span>
                <span class="l-btn-icon fa fa-check">&nbsp;</span>
            </span>
        </a>

        <a href="javascript:void(0)" id="downloadBtn" class="l-btn topjui-btn-purple l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
            <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
                <span class="l-btn-text">下载</span>
                <span class="l-btn-icon fa fa-download">&nbsp;</span>
            </span>
        </a>

        <a href="javascript:void(0)" id="searchBtn1" class="l-btn topjui-btn-orange l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
            <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
                <span class="l-btn-text">查询</span>
                <span class="l-btn-icon fa fa-search">&nbsp;</span>
            </span>
        </a>
    </div>
</th:block>

<th:block layout:fragment="js">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            $('#checkDg').iDatagrid({
                queryParams:{
                    yearQry:$('#yearQry').iCombobox('getValue')
                },
                onSelect:function(index, row){
                    $('#checkNo').val(row.checkNo)
                    reloadDetail()
                },
                onLoadSuccess:function(data){
                    $('[checkNo]').click(function(){
                        var checkNo = $(this).attr('checkNo')
                        $.iMessager.confirm('确认对话框', '您确定删除当前盘点吗？', function (r) {
                            if(r){
                                var postData = { checkNo: checkNo};
                                var url = '/repository/inventEdit/delete';
                                $.post(url,postData,function (res) {
                                    if(res.statusCode == 200){
                                        $.iMessager.show({title: '我的消息', msg: res.message, timeout: 5000, showType: 'slide'});
                                        reloadData();
                                    }else {
                                        $.iMessager.alert('操作提示', res.message, 'messager-error');
                                    }
                                },"JSON")
                            }
                        });
                    })

                    var cNo = $('#checkNo').val();
                    if(cNo!=''){
                        for(var i=0; i<data.rows.length; i++){
                            if(data.rows[i].checkNo==cNo){
                                $('#checkDg').iDatagrid('selectRow', i)
                            }
                        }
                    }
                }
            });

            $('#searchBtn').click(function(){
                reloadData();
            });

            $('#detailDg').iDatagrid({
                singleSelect:true,
                selectOnCheck:false,
                checkOnSelect:false,
                url:'/repository/inventEdit/getBulkPageSet',
                columns:[ [
                    {
                        field:'siteNo',title:'库位编码',sortable:false
                    },{
                        field:'erpType',title:'ERP分类',sortable:false
                    },{
                        field:'typeName',title:'分类描述',sortable:false
                    },{
                        field:'matCode',title:'物料编码',sortable:false
                    },{
                        field:'matName',title:'物料名称',sortable:false
                    },{
                        field:'matUnit',title:'单位',sortable:false
                    },{
                        field:'theoryAmount',title:'理论数',sortable:false
                    },{
                        field:'realAmount',title:'实际数',sortable:false, formatter:function(value, row, index){
                            if(row.checkStep=='72132'){
                                return '<span class="textbox"><input class="textbox-text" type="text" id="realAmount_'+ row.listId +'" name="realAmount_'+ row.listId +'" value="'+ value +'" /></span><input type="hidden" name="listId" value="'+ row.listId +'" />'
                            }else{
                                return value;
                            }
                        }
                    },{
                        field:'siteCode',title:'货位',sortable:false, formatter:function(value, row, index){
                            if(row.checkStep=='72132'){
                                return '<span class="textbox"><input class="textbox-text" type="text" id="site_'+ row.listId +'" name="site_'+ row.listId +'" value="'+ row.siteNo +'" /></span>'
                            }else{
                                return value;
                            }
                        }
                    },{
                        field:'reason',title:'修改理由',sortable:false, formatter:function(value, row, index){
                            if(row.checkStep=='72132'){
                                return '<span class="textbox"><input class="textbox-text" type="text" id="reason_'+ row.listId +'" name="reason_'+ row.listId +'" value="'+ value +'" /></span>'
                            }else{
                                return value;
                            }
                        }
                    }
                ] ]
            });

            $('#saveBtn').click(function(){
                $('#detailForm').iForm('submit', {
                    url:'/repository/inventEdit/saveBulk',
                    success:function(data){
                        data = $.parseJSON(data);
                        if(data.statusCode == 200){
                            $.iMessager.show({
                                title:data.title,
                                msg:data.message
                            })
                            reloadDetail();
                        } else {
                            $.iMessager.alert({
                                icon:'messager-error',
                                title:data.title,
                                msg:data.message
                            });
                        }
                    }
                });
            });

            $('#submitBtn').click(function(){
                $('#detailForm').iForm('submit', {
                    url:'/repository/inventEdit/submitBulk',
                    success:function(data){
                        data = $.parseJSON(data);
                        if(data.statusCode == 200){
                            $.iMessager.show({
                                title:data.title,
                                msg:data.message
                            })
                            reloadData();
                        } else {
                            $.iMessager.alert({
                                icon:'messager-error',
                                title:data.title,
                                msg:data.message
                            });
                        }
                    }
                });
            });

            $('#searchBtn1').click(function(){
                reloadDetail();
            });

            $('#downloadBtn').click(function(){
                $('#detailForm').iForm('submit', {
                    url:'/repository/inventEdit/download',
                    success:function(data){

                    }
                });
            });
        });

        function reloadData(){
            $('#checkDg').iDatagrid('reload',{
                yearQry:$('#yearQry').iCombobox('getValue')
            });
        }

        function reloadDetail(){
            $('#detailDg').iDatagrid('reload', {
                checkNo:$('#checkNo').val(),
                siteNoQry:$('#siteNoQry').iTextbox('getValue'),
                matNameQry:$('#matNameQry').iTextbox('getValue')
            })
        }
    </script>
</th:block>
</body>
</html>