<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ewsd.cost.mapper.FFeeReportMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.ewsd.cost.model.FFeeReport" id="fFeeReportMap">
        <result property="report_id" column="report_id"/>
        <result property="team_no" column="team_no"/>
        <result property="f_month" column="f_month"/>
        <result property="item_id" column="item_id"/>
        <result property="item_name" column="item_name"/>
        <result property="leader" column="leader"/>
        <result property="fee_id" column="fee_id"/>
        <result property="data_item" column="data_item"/>
        <result property="occ_bala" column="occ_bala"/>
        <result property="modi_date" column="modi_date"/>
        <result property="modi_emp" column="modi_emp"/>
        <result property="modi_team" column="modi_team"/>
        <result property="uuid" column="uuid"/>
        <result property="create_time" column="create_time"/>
        <result property="creator" column="creator"/>
        <result property="creator_id" column="creator_id"/>
        <result property="creator_org_id" column="creator_org_id"/>
        <result property="modifier_id" column="modifier_id"/>
        <result property="modifier" column="modifier"/>
        <result property="modify_time" column="modify_time"/>
    </resultMap>
    
  <sql id="Base_Column_List" > 
  	  	     			 report_id
		  ,  	  	     			 team_no
		  ,  	  	     			 f_month
		  ,  	  	     			 item_id
		  ,  	  	     			 item_name
		  ,  	  	     			 leader
		  ,  	  	     			 fee_id
		  ,  	  	     			 data_item
		  ,  	  	     			 occ_bala
		  ,  	  	     			 modi_date
		  ,  	  	     			 modi_emp
		  ,  	  	     			 modi_team
		  ,  	  	     			 uuid
		  ,  	  	     			 create_time
		  ,  	  	     			 creator
		  ,  	  	     			 creator_id
		  ,  	  	     			 creator_org_id
		  ,  	  	     			 modifier_id
		  ,  	  	     			 modifier
		  ,  	  	     			 modify_time
		    	  </sql>

    <select id="getPageSet" resultType="cn.ewsd.cost.model.FFeeReport">
        select
        <include refid="Base_Column_List"></include>
        from f_fee_report
        <where>
            <if test="filterSort != null">
				${filterSort}
            </if>
        </where>
    </select>

	<select id="queryObject" resultType="cn.ewsd.cost.model.FFeeReport">
		select  <include refid="Base_Column_List" />  from f_fee_report where uuid = #{value}
	</select>

	<select id="queryList" resultType="cn.ewsd.cost.model.FFeeReport">
		select  <include refid="Base_Column_List" />  from f_fee_report
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by uuid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from f_fee_report 
	</select>
	 
	<insert id="executeSave" parameterType="cn.ewsd.cost.model.FFeeReport">
		insert into f_fee_report
		(
			`report_id`, 
			`team_no`, 
			`f_month`, 
			`item_id`, 
			`item_name`, 
			`leader`, 
			`fee_id`, 
			`data_item`, 
			`occ_bala`, 
			`modi_date`, 
			`modi_emp`, 
			`modi_team`, 
			`uuid`, 
			`create_time`, 
			`creator`, 
			`creator_id`, 
			`creator_org_id`, 
			`modifier_id`, 
			`modifier`, 
			`modify_time`
		)
		values
		(
			#{report_id}, 
			#{team_no}, 
			#{f_month}, 
			#{item_id}, 
			#{item_name}, 
			#{leader}, 
			#{fee_id}, 
			#{data_item}, 
			#{occ_bala}, 
			#{modi_date}, 
			#{modi_emp}, 
			#{modi_team}, 
			#{uuid}, 
			#{create_time}, 
			#{creator}, 
			#{creator_id}, 
			#{creator_org_id}, 
			#{modifier_id}, 
			#{modifier}, 
			#{modify_time}
		)
	</insert>
	 
	<update id="executeUpdate" parameterType="cn.ewsd.cost.model.FFeeReport">
		update f_fee_report 
		<set>
			<if test="report_id != null">`report_id` = #{report_id}, </if>
			<if test="team_no != null">`team_no` = #{team_no}, </if>
			<if test="f_month != null">`f_month` = #{f_month}, </if>
			<if test="item_id != null">`item_id` = #{item_id}, </if>
			<if test="item_name != null">`item_name` = #{item_name}, </if>
			<if test="leader != null">`leader` = #{leader}, </if>
			<if test="fee_id != null">`fee_id` = #{fee_id}, </if>
			<if test="data_item != null">`data_item` = #{data_item}, </if>
			<if test="occ_bala != null">`occ_bala` = #{occ_bala}, </if>
			<if test="modi_date != null">`modi_date` = #{modi_date}, </if>
			<if test="modi_emp != null">`modi_emp` = #{modi_emp}, </if>
			<if test="modi_team != null">`modi_team` = #{modi_team}, </if>
			<if test="create_time != null">`create_time` = #{create_time}, </if>
			<if test="creator != null">`creator` = #{creator}, </if>
			<if test="creator_id != null">`creator_id` = #{creator_id}, </if>
			<if test="creator_org_id != null">`creator_org_id` = #{creator_org_id}, </if>
			<if test="modifier_id != null">`modifier_id` = #{modifier_id}, </if>
			<if test="modifier != null">`modifier` = #{modifier}, </if>
			<if test="modify_time != null">`modify_time` = #{modify_time}</if>
		</set>
		where uuid = #{uuid}
	</update>
	
	<delete id="executeDelete">
		delete from f_fee_report where uuid = #{value}
	</delete>
	
	<delete id="executeDeleteBatch">
		delete from f_fee_report where uuid in 
		<foreach item="uuid" collection="array" open="(" separator="," close=")">
			#{uuid}
		</foreach>
	</delete>

</mapper>