<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ewsd.system.mapper.OperationlogMapper">


    
  <sql id="Base_Column_List" >*</sql>

  <select id="getPageSet" resultType="cn.ewsd.system.model.Operationlog">
      select
      <include refid="Base_Column_List"></include>
      from sys_operationlog
      <where>
        <if test="filterSort != null">
          ${filterSort}
        </if>
      </where>
    </select>



</mapper>