<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ewsd.system.mapper.SysUserQryOrgMapper">
    <select id="getPageSet" resultType="cn.ewsd.system.model.SysUserQryOrg">
        SELECT dq.*, o.text org_name, o.code org_no
        FROM t_dept_query dq
        LEFT JOIN sys_organization o ON dq.org_id=o.id
        <where>
            <if test="filterSort != null">
				${filterSort}
            </if>
        </where>
    </select>

    <delete id="executeDeleteBatch">
        delete from t_dept_query where uuid in
        <foreach item="uuid" collection="array" open="(" separator="," close=")">
            #{uuid}
        </foreach>
    </delete>

    <select id="getQryOrgByUserId" resultType="cn.ewsd.system.model.SysUserQryOrg">
        SELECT * FROM t_dept_query WHERE user_id=#{userId}
    </select>

    <select id="getDeptSet" resultType="cn.ewsd.mdata.model.Organization">
        SELECT id, text
        FROM sys_organization
        WHERE 1=1 AND id IN
        <foreach collection="deptIds.split(',')" item="deptId" open="(" separator="," close=")">
            #{deptId}
        </foreach>
        <if test="deptLevel!=''">
            AND level_id=#{deptLevel}
        </if>
        <if test="justVirtual">
            AND code NOT LIKE 'C0ZZ%'
        </if>
        ORDER BY sort
    </select>
</mapper>