package ${package}.controller;

import java.util.Date;
import java.util.List;
import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.ModelAttribute;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.ResponseBody;
import org.springframework.stereotype.Controller;

import ${basepackage}.common.annotation.ControllerLog;
import ${basepackage}.common.controller.BaseController;
import ${basepackage}.common.utils.BaseUtils;
import ${basepackage}.common.utils.easyui.PageParam;
import ${basepackage}.common.utils.easyui.PageSet;

import ${package}.model.${className};
import ${package}.service.${className}Service;

/**
 * ${comments}
 *
 * @Author ${author}
 * @Email ${email}
 * @Date ${datetime}
 */
@Controller
@RequestMapping("/${pathName}")
public class ${className}Controller extends ${SystemName}BaseController {

    @Autowired
    private ${className}Service ${classname}Service;

    //分页页面
    @RequestMapping("/index")
    @ControllerLog(description = "打开${className}模块管理页面")
    public String index(@RequestParam Map<String, Object> params) {
        return "${systemName}/${pathName}/index";
    }

    //获取分页集
    @ResponseBody
    @RequestMapping(value = "/getPageSet", method = RequestMethod.POST)
    @ControllerLog(description = "获得${className}分页集数据")
    public Object getPageSet(PageParam pageParam,String ${associated}) {
        String filterSort = "";
        filterSort = " ${associated}='"+${associated}+"' and "+BaseUtils.filterSort(request, filterSort + getAuthFilter());
        PageSet<${className}> pageSet = ${classname}Service.getPageSet(pageParam, filterSort);
        return pageSet;
    }

    //获取详情
    @ResponseBody
    @RequestMapping(value = "/getDetailByUuid")
    @ControllerLog(description = "获得${className}模块详细数据")
    public Object getDetailByUuid(${pk.attrType} ${pk.attrname}) {
        ${className} ${classname} = ${classname}Service.selectByPrimaryKey(${pk.attrname});
        return ${classname};
    }

    //新增页面
    @RequestMapping("/add")
    @ControllerLog(description = "打开${className}模块新增页面")
    public String add() {
        return "${systemName}/${pathName}/edit";
    }

    //保存数据
    @ResponseBody
    @RequestMapping(value = "/save", method = RequestMethod.POST)
    @ControllerLog(description = "保存${className}模块数据")
    public Object save(@ModelAttribute ${className} ${classname}) {
        int result = ${classname}Service.insertSelective(getSaveData(${classname}));
        return result > 0 ? success("保存成功！") : failure("保存失败！");
    }

    //编辑页面
    @RequestMapping("/edit")
    @ControllerLog(description = "打开${className}模块编辑页面")
    public String edit() {
        return "${systemName}/${pathName}/edit";
    }

    //更新数据
    @ResponseBody
    @RequestMapping(value = "/update", method = RequestMethod.POST)
    @ControllerLog(description = "更新${className}模块数据")
    public Object update(@ModelAttribute ${className} ${classname}) {
        int result = ${classname}Service.updateByPrimaryKeySelective(getUpdateData(${classname}));
        return result > 0 ? success("更新成功！") : failure("更新失败！");
    }

    //删除数据
    @ResponseBody
    @RequestMapping(value = "/deleteBatch", method = RequestMethod.POST)
    @ControllerLog(description = "删除${className}模块数据")
    public Object deleteBatch(@RequestParam ${pk.attrType}[] ${pk.attrname}) {
        int result = ${classname}Service.executeDeleteBatch(${pk.attrname});
        return result > 0 ? success("删除成功！") : failure("删除失败！");
    }

}
