<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>
<!--井下周转登记-->
<body>
<th:block layout:fragment="content">
<div data-toggle="topjui-layout" data-options="fit:true">
	<form id="dxStockQryForm" style="height:100%">
		<div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false,height:'100%'">
			<table id="dxStockQryDg"></table>
		</div>
	</form>
</div>

<!-- 表格工具栏 -->
<div id="dxStockQryDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'dxStockQryDg'
       }" style="display:none">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">仓库：</label>
	<input data-toggle="topjui-combobox" id="storeNoQry" name="storeNoQry" th:value="${storeNo}" data-options="valueField:'storeNo',textField:'storeName',url:'/repository/mStore/getStoreList?storeType=r.storeType2.21&storeLevel=r.storeLevel.1',width:'150px'">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">物料编码：</label>
	<input id="matCodeQry" data-toggle="topjui-textbox" name="matCodeQry" data-options="width:'150px'" value="">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">物料名称：</label>
	<input id="matNameQry" data-toggle="topjui-textbox" name="matNameQry" data-options="width:'150px'" value="">

	<label class="topjui-form-label" style="width:90px;float:none;display:inline-block">包含零库存：</label>
	<input data-toggle="topjui-combobox" id="flagQry" name="flagQry" value="" data-options="valueField:'val',textField:'text',width:'150px',data:[{
		val:'', text:'否'
	},{
		val:'y', text:'是'
	}]">

	<a href="javascript:void(0)" id="searchBtn" class="l-btn topjui-btn-orange l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
		<span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
			<span class="l-btn-text">查询</span>
			<span class="l-btn-icon fa fa-search">&nbsp;</span>
		</span>
	</a>

	<a href="javascript:void(0)" id="downloadBtn" class="l-btn topjui-btn-green l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
        <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
            <span class="l-btn-text">下载</span>
            <span class="l-btn-icon fa fa-download">&nbsp;</span>
        </span>
	</a>
</div>
</th:block>

<th:block layout:fragment="js">
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function(){

			$('#storeNoQry').iCombobox({
				loadFilter:function(data){
					data.unshift({storeNo:'', storeName:'--全部--'});
					return data
				}
			})

			$('#dxStockQryDg').iDatagrid({
				singleSelect:true,
				selectOnCheck:false,
				checkOnSelect:false,
				url:'/fix/dxStockQry/getPageSet',
				queryParams:{
					storeNoQry:$('#storeNoQry').iCombobox('getValue'),
					flagQry:$('#flagQry').iCombobox('getValue'),
					matCodeQry:$('#matCodeQry').iTextbox('getValue'),
					matNameQry:$('#matNameQry').iTextbox('getValue')
				},
				columns:[ [
					{
						field:'matNo', sortable:false, title:'入库信息', formatter:function(value, row, index){
							return '暂未实现'
						}
					},{
						field:'storeName', sortable:false, title:'仓库'
					},{
						field:'matCode', sortable:false, title:'物料编码'
					},{
						field:'matName', sortable:false, title:'物料描述'
					},{
						field:'matUnit', sortable:false, title:'单位'
					},{
						field:'matPrice', sortable:false, title:'单价', align:'right'
					},{
						field:'stockAmount', sortable:false, title:'库存数量', align:'right'
					},{
						field:'matBala', sortable:false, title:'金额', align:'right'
					},{
						field:'siteCode', sortable:false, title:'货位'
					}
				] ]
			});

			$('#searchBtn').click(function(){
				reloadData();
			});

			$('#downloadBtn').click(function(){
				$('#dxStockQryForm').iForm('submit', {
					url:'/fix/dxStockQry/download',
					success:function(data){

					}
				});
			});
		})

		function reloadData(){
			$('#returnQryDg').iDatagrid('reload',{
				storeNoQry:$('#storeNoQry').iCombobox('getValue'),
				flagQry:$('#flagQry').iCombobox('getValue'),
				matCodeQry:$('#matCodeQry').iTextbox('getValue'),
				matNameQry:$('#matNameQry').iTextbox('getValue')
			});
		}
	</script>

</th:block>
</body>
</html>