
<input type="hidden" name="uuid" >
<table class="editTable">
	<tr>
		<td class="label">工作空间</td>
		<td><input type="text" class="topjui-textbox-450" name="workSpace" value="E:/wwwroot/Java/ewsdEMIS"></td>
	</tr>
	<tr>
		<td class="label">系统名</td>
		<td><input type="text" class="topjui-textbox-450" name="systemName" ></td>
	</tr>
	<tr>
		<td class="label">模块名</td>
		<td><input type="text" class="topjui-textbox-450" name="moduleName" ></td>
	</tr>
	<tr>
		<td class="label">菜单名</td>
		<td><input type="text" class="topjui-textbox-450" name="menuName" ></td>
	</tr>
	<tr>
		<td class="label">上级菜单</td>
		<td><input type="text" id="topMenuId" name="topMenuId" ></td>
	</tr>
	<tr>
		<td class="label">列表页风格</td>
		<td><input type="text" id="indexStyle" name="indexStyle" ></td>
	</tr>
	<tr>
		<td class="label">作者姓名</td>
		<td><input type="text" class="topjui-textbox-450" name="authorName" ></td>
	</tr>
	<tr>
		<td class="label">作者邮箱</td>
		<td><input type="text" class="topjui-textbox-450" name="authorEmail" ></td>
	</tr>
</table>