<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:ewsd="http://www.thymeleaf.org"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
<div id="layoutId" data-toggle="topjui-layout" data-options="fit:true">
    <div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:true,bodyCls:'border_top_none'">
        <div data-options="region:'north',split:true,border:false" style="height:100%">
            <!-- datagrid表格 -->
            <table data-toggle="topjui-datagrid"
                   data-options="id:'leaveDatagrid',
                   singleSelect:true,
                   url:'/system/generator/getPageSet'">
                <thead>
                <tr>
<!--                    <th data-options="field:'uuid',title:'UUID',checkbox:true"></th>-->
                    <th data-options="field:'tableName',sortable:true,title:'表名'"></th>
                    <!--<th data-options="field:'engine',title:'引擎'"></th>-->
                    <th data-options="field:'tableComment',title:'描述'"></th>
                    <th data-options="field:'createTime',sortable:true,title:'创建时间',
                    formatter:tf"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- 表格工具栏 -->
<div id="leaveDatagrid-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'leaveDatagrid'
       }" style="display:none">
    <!--<%&#45;&#45;<a href="javascript:void(0)"&#45;&#45;%>-->
       <!--<%&#45;&#45;data-toggle="topjui-menubutton"&#45;&#45;%>-->
       <!--<%&#45;&#45;data-options="method:'openDialog',&#45;&#45;%>-->
       <!--<%&#45;&#45;btnCls: 'topjui-btn-green',&#45;&#45;%>-->
       <!--<%&#45;&#45;extend:'#leaveDatagrid-toolbar',&#45;&#45;%>-->
       <!--<%&#45;&#45;dialog:{&#45;&#45;%>-->
           <!--<%&#45;&#45;id:'leaveAddDialog',&#45;&#45;%>-->
           <!--<%&#45;&#45;href:'/generator/leave/edit',&#45;&#45;%>-->
           <!--<%&#45;&#45;height:300,&#45;&#45;%>-->
           <!--<%&#45;&#45;buttonsGroup:[&#45;&#45;%>-->
               <!--<%&#45;&#45;{text:'保存',url:'/generator/leave/save',iconCls:'fa fa-plus',handler:'ajaxForm'}&#45;&#45;%>-->
           <!--<%&#45;&#45;]&#45;&#45;%>-->
       <!--<%&#45;&#45;}">新增</a>&#45;&#45;%>-->
    <!--<%&#45;&#45;<a href="javascript:void(0)"&#45;&#45;%>-->
       <!--<%&#45;&#45;data-toggle="topjui-menubutton"&#45;&#45;%>-->
       <!--<%&#45;&#45;data-options="method:'openDialog',&#45;&#45;%>-->
       <!--<%&#45;&#45;btnCls: 'topjui-btn-blue',&#45;&#45;%>-->
       <!--<%&#45;&#45;extend:'#leaveDatagrid-toolbar',&#45;&#45;%>-->
       <!--<%&#45;&#45;iconCls:'fa fa-pencil',&#45;&#45;%>-->
       <!--<%&#45;&#45;dialog:{&#45;&#45;%>-->
           <!--<%&#45;&#45;id:'leaveEditDialog',&#45;&#45;%>-->
           <!--<%&#45;&#45;href:'/generator/leave/edit?uuid={uuid}',&#45;&#45;%>-->
           <!--<%&#45;&#45;url:'/generator/leave/getDetailByUuid?uuid={uuid}',&#45;&#45;%>-->
           <!--<%&#45;&#45;height:300,&#45;&#45;%>-->
           <!--<%&#45;&#45;buttonsGroup:[&#45;&#45;%>-->
               <!--<%&#45;&#45;{text:'更新',url:'/generator/leave/update',iconCls:'fa fa-save',handler:'ajaxForm'},&#45;&#45;%>-->
           <!--<%&#45;&#45;]&#45;&#45;%>-->
       <!--<%&#45;&#45;}">编辑</a>&#45;&#45;%>-->
    <!--<%&#45;&#45;<a href="javascript:void(0)"&#45;&#45;%>-->
       <!--<%&#45;&#45;data-toggle="topjui-menubutton"&#45;&#45;%>-->
       <!--<%&#45;&#45;data-options="method:'doAjax',&#45;&#45;%>-->
       <!--<%&#45;&#45;btnCls: 'topjui-btn-red',&#45;&#45;%>-->
       <!--<%&#45;&#45;extend:'#leaveDatagrid-toolbar',&#45;&#45;%>-->
       <!--<%&#45;&#45;url:'/generator/leave/delete'">删除</a>&#45;&#45;%>-->
    <ewsd:rbac str="codeGeneration">
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="method:'request',
       btnCls:'topjui-btn-red',
       extend:'#leaveDatagrid-toolbar',
       url:'/system/generator/code?tables={tableName}'">单表代码生成</a>
    </ewsd:rbac>
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="method:'request',
       btnCls:'topjui-btn-orange',
       extend:'#leaveDatagrid-toolbar',
       onClick:multTable
">多表代码生成</a>
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="method:'filter',
       btnCls:'topjui-btn-purple',
       extend:'#leaveDatagrid-toolbar'">过滤</a>
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="method:'search',
       btnCls:'topjui-btn-brown',
       extend:'#leaveDatagrid-toolbar'">查询</a>

</div>

<script>
    function tf(value, index, row) {
        return timestamp2Datetime(value, 'yyyy-mm-dd hh:ii:ss');
    }

    function multTable() {
        var $editDialog = $('<div></div>');
        $editDialog.iDialog({
            title: '代码生成',
            width: 880,
            height: 350,
            closed: false,
            cache: false,
            href: '/system/generator/codeGenerationAdd',
            modal: true,
            buttons: [{
                text: '生成',
                iconCls: 'fa fa-save',
                btnCls: 'topjui-btn-blue',
                handler: function () {
                    if(! $('#formData').iForm('validate')){
                        return;
                    }
                    var formdata=$('#formData').serializeObject().childTable;
                    var nary=formdata.sort();
                    for(var i=0;i<formdata.length;i++){
                        if (nary[i]==nary[i+1]){
                           return $.iMessager.alert('提示', nary[i]+'表重复', 'messager-info');
                        }
                    }
                    window.location.href = decodeURI('/system/generator/codeMultTable?' + $('#formData').serialize());
                    $editDialog.iDialog('close');
                }
            }, {
                text: '关闭',
                iconCls: 'fa fa-close',
                btnCls: 'topjui-btn-red',
                handler: function () {
                    $editDialog.iDialog('close');
                }
            }]
        });
    }
</script>
</th:block>

<th:block layout:fragment="js">
    <!--<script src="../../static/js/security/mainframe.js"-->
    <!--th:src="@{/js/security/mainframe.js}"></script>-->
</th:block>
</body>
</html>