<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
<!--<rapid:override name="body">-->
    <div data-toggle="topjui-layout" data-options="fit:true">
        <div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false,bodyCls:'border_left'">
            <!-- datagrid表格 -->
            <table data-toggle="topjui-datagrid"
                   data-options="id:'userDatagrid',
                    url:'/ucenter/user/getPageSetData',
                    filter: [{
                        field: 'userName',
                        type: 'textbox',
                        op: ['contains', 'equal', 'notequal', 'less', 'greater']
                    },{
                        field: 'sex',
                        type: 'combobox',
                        options: {
                            valueField: 'value',
                            textField: 'label',
                            data: [{
                                label: '男',
                                value: '1'
                            }, {
                                label: '女',
                                value: '2'
                            }]
                        },
                        op: ['contains', 'equal', 'notequal', 'less', 'greater']
                    },{
                        field: 'post',
                        type: 'combobox',
                        options: {
                            valueField: 'value',
                            textField: 'label',
                            multiple: true,
                            data: [{
                                label: 'CEO',
                                value: 'CEO'
                            }, {
                                label: 'COO',
                                value: 'COO'
                            }, {
                                label: 'CTO',
                                value: 'CTO'
                            }]
                        },
                        op: ['contains', 'equal', 'notequal', 'less', 'greater']
                    }]">
                <thead>
                <tr>
                    <th data-options="field:'uuid',title:'UUID',checkbox:true"></th>
                    <th data-options="field:'userNameId',title:'员工号',sortable:true"></th>
                    <th data-options="field:'userName',title:'姓名',sortable:true,width:100"></th>
                    <th data-options="field:'sex',title:'性别',sortable:true,width:50,
                    formatter:function(value,row,index){
                        if (value == '1') {
                            return '男';
                        } else if (value == '2') {
                            return '女';
                        } else {
                            return '';
                        }
                    }"></th>
                    <th data-options="field:'telephone',title:'电话',sortable:true"></th>
                    <th data-options="field:'cellphone',title:'手机',sortable:true"></th>
                    <th data-options="field:'email',title:'电子邮箱',sortable:true"></th>
                    <th data-options="field:'orgName',title:'所属机构',sortable:true"></th>
                    <th data-options="field:'post',title:'职务',sortable:true"></th>
                    <th data-options="field:'userGroup',title:'用户组',sortable:true"></th>
                    <th data-options="field:'zone',title:'所属区域',sortable:true,hidden:true,formatter:function(value,row,index){return row.country+' '+row.province+' '+row.city+' '+row.district}"></th>
                </tr>
                </thead>
            </table>

        </div>
    </div>

    <!-- 用户 表格工具栏 -->
    <div id="userDatagrid-toolbar" class="topjui-toolbar"
         data-options="grid:{
           type:'datagrid',
           id:'userDatagrid'
       }" style="display:none">
        <!--<rbac:hasPermission name="userAddDialog">-->
            <a href="javascript:void(0)"
               data-toggle="topjui-menubutton"
               data-options="method:'openDialog',
           extend:'#userDatagrid-toolbar',
           btnCls:'topjui-btn-green',
           dialog:{
               id:'userAddDialog',
               href:'/ucenter/user/edit',
               height:450,
               buttonsGroup:[
                   {text:'保存',url:'/ucenter/user/save',iconCls:'fa fa-plus',handler:'ajaxForm'}
               ]
           }">新增</a>
        <!--</rbac:hasPermission>-->
        <!--<rbac:hasPermission name="userEditDialog">-->
            <a href="javascript:void(0)"
               data-toggle="topjui-menubutton"
               data-options="method:'openDialog',
           extend:'#userDatagrid-toolbar',
           btnCls:'topjui-btn-blue',
           component:'edit',
           iconCls:'fa fa-pencil',
           dialog:{
               id:'userEditDialog',
               href:'/ucenter/user/edit',
               url:'/ucenter/user/getDetailByUuid?uuid={uuid}',
               height:450,
               buttonsGroup:[
                   {text:'更新',url:'/ucenter/user/update',iconCls:'fa fa-save',handler:'ajaxForm',refresh:[{type:'datagrid',id:'userDatagrid'}]}
               ]
        }">编辑</a>
        <!--</rbac:hasPermission>-->
        <!--<rbac:hasPermission name="/ucenter/user/delete">-->
            <a href="javascript:void(0)"
               data-toggle="topjui-menubutton"
               data-options="method:'doAjax',
           extend:'#userDatagrid-toolbar',
           btnCls:'topjui-btn-red',
	       iconCls:'fa fa-trash',
	       grid:{uncheckedMsg:'请先勾选要删除的用户',param:'uuid:uuid'},
	       url:'/ucenter/user/delete'">删除</a>
        <!--</rbac:hasPermission>-->
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="method:'filter',
       extend:'#userDatagrid-toolbar',
       btnCls:'topjui-btn-orange'">过滤</a>
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="method:'search',
       extend:'#userDatagrid-toolbar',
       btnCls:'topjui-btn-purple'">查询</a>
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="menu:'#exportSubMenu',btnCls:'topjui-btn-blue',
       hasDownArrow:true,
       iconCls:'fa fa-file'">导出</a>
        <div id="exportSubMenu" class="topjui-toolbar" style="width:150px;">
            <!--<rbac:hasPermission name="/system/freemarker/generatePdf?uuid={uuid}">-->
                <div data-toggle="topjui-menubutton"
                     data-options="method:'request',
                 extend:'#userDatagrid-toolbar',
                 iconCls:'fa fa-file-pdf-o',
                 url:'/system/freemarker/generatePdf?uuid={uuid}',
                 grid:{
                     type:'datagrid',
                     id:'userDatagrid'
                 }">导出 PDF 报表
                </div>
            <!--</rbac:hasPermission>-->
            <!--<rbac:hasPermission name="/system/freemarker/generateExcel">-->
                <div data-toggle="topjui-menubutton"
                     data-options="method:'export',
                 extend:'#userDatagrid-toolbar',
                 iconCls:'fa fa-file-excel-o',
                 grid:{
                     type:'datagrid',
                     id:'userDatagrid'
                 }">导出EXCEL列表
                </div>
            <!--</rbac:hasPermission>-->
            <!--<rbac:hasPermission name="/system/freemarker/generateExcel?uuid={uuid}">-->
                <div data-toggle="topjui-menubutton"
                     data-options="method:'request',
                 extend:'#userDatagrid-toolbar',
                 iconCls:'fa fa-file-excel-o',
                 url:'/system/freemarker/generateExcel?uuid={uuid}',
                 grid:{
                     type:'datagrid',
                     id:'userDatagrid'
                 }">导出EXCEL报表
                </div>
            <!--</rbac:hasPermission>-->
            <!--<rbac:hasPermission name="/system/freemarker/generateDoc?uuid={uuid}">-->
                <div data-toggle="topjui-menubutton"
                     data-options="method:'request',
                 extend:'#userDatagrid-toolbar',
                 iconCls:'fa fa-file-word-o',
                 url:'/system/freemarker/generateDoc?uuid={uuid}',
                 grid:{
                     type:'datagrid',
                     id:'userDatagrid'
                 }">导出WORD报表
                </div>
            <!--</rbac:hasPermission>-->
        </div>
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="menu:'#moreSubMenu',
       btnCls:'topjui-btn-orange',
       hasDownArrow:true,
       iconCls:'fa fa-list'">更多</a>
        <!--<rbac:hasPermission name="/ucenter/user/updatePassword?uuid={uuid}&password={userNameId}">-->
            <div id="moreSubMenu" class="topjui-toolbar" style="width:100px;">
                <div data-toggle="topjui-menubutton"
                     data-options="method:'doAjax',
                 extend:'#userDatagrid-toolbar',
                 iconCls:'fa fa-key',
                 url:'/ucenter/user/updatePassword',
                 confirmMsg:'确定要重置该用户密码吗？重置后密码与用户名相同。',
                 grid:{
                     type:'datagrid',
                     id:'userDatagrid',
                     param:'uuid,password:userNameId',
                     unselectedMsg:'请先选中要重置密码的用户！'
                 }">重置密码
                </div>
            </div>
        <!--</rbac:hasPermission>-->
    </div>
<!--</rapid:override>-->
</th:block>

<th:block layout:fragment="js">
    <!--<script src="../../static/js/security/mainframe.js"-->
    <!--th:src="@{/js/security/mainframe.js}"></script>-->
</th:block>
</body>
</html>