<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>
<!--井下周转登记-->
<body>
<th:block layout:fragment="content">
<div data-toggle="topjui-layout" data-options="fit:true">
	<form id="returnChkForm" style="height:100%">
		<div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false,height:'100%'">
			<table id="returnChkDg"></table>
		</div>
	</form>
</div>

<!-- 表格工具栏 -->
<div id="returnChkDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'returnChkDg'
       }" style="display:none">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">物料：</label>
	<input id="matQry" data-toggle="topjui-textbox" name="matQry" data-options="width:'150px'" value="">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">仓库：</label>
	<input data-toggle="topjui-combobox" id="storeQry" name="storeQry" data-options="valueField:'storeNo',textField:'storeName',url:'/repository/mStore/getStoreList?storeType=r.storeType2.21,r.storeType2.14&storeLevel=r.storeLevel.1',width:'150px'">

	<a href="javascript:void(0)" id="searchBtn" class="l-btn topjui-btn-orange l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
		<span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
			<span class="l-btn-text">查询</span>
			<span class="l-btn-icon fa fa-search">&nbsp;</span>
		</span>
	</a>

	<a href="javascript:void(0)" id="submitBtn" class="l-btn topjui-btn-green l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
		<span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
			<span class="l-btn-text">审核通过</span>
			<span class="l-btn-icon fa fa-check">&nbsp;</span>
		</span>
	</a>

	<a href="javascript:void(0)" id="backBtn" class="l-btn topjui-btn-red l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
		<span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
			<span class="l-btn-text">退回申请</span>
			<span class="l-btn-icon fa fa-times">&nbsp;</span>
		</span>
	</a>
</div>
</th:block>

<th:block layout:fragment="js">
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function(){
			$('#returnChkDg').iDatagrid({
				singleSelect:true,
				selectOnCheck:false,
				checkOnSelect:false,
				url:'/fix/returnChk/getPageSet',
				queryParams:{
					storeQry:$('#storeQry').iCombobox('getValue'),
					matQry:$('#matQry').iTextbox('getValue')
				},
				columns:[ [
					{
						field:'billNo', sortable:false, title:'', checkbox:true
					},{
						field:'storeName', sortable:false, title:'仓库'
					},{
						field:'planSrcName', sortable:false, title:'物料状态'
					},{
						field:'matCode', sortable:false, title:'物料编码'
					},{
						field:'matName', sortable:false, title:'物料描述'
					},{
						field:'matUnit', sortable:false, title:'单位'
					},{
						field:'setPrice', sortable:false, title:'单价', align:'right'
					},{
						field:'applyAmount', sortable:false, title:'申请数', align:'right'
					},{
						field:'inAmount', sortable:false, title:'审核数', formatter:function(value, row, index){
							return '<span class="textbox"><input class="textbox-text" type="number" id="amount_'+ row.billNo +'" name="amount_'+ row.billNo +'" value="'+ value +'" disabled /></span><input type="hidden" name="step_'+ row.billNo +'" value="'+ row.inStep +'" />'
						}
					},{
						field:'applyDate', sortable:false, title:'申请日期', formatter:function (value, row, index) {
							return value.substring(0, 4) + '-' + value.substring(4, 6) + '-' + value.substring(6, 8)
						}
					},{
						field:'offerTeamName', sortable:false, title:'回收单位'
					},{
						field:'prjName', sortable:false, title:'回收工程项目'
					},{
						field:'remark', sortable:false, title:'备注'
					}
				] ],
				onCheck:function(index, row){
					var billNo = row.billNo;
					$('#amount_' + billNo).removeAttr('disabled');
				},
				onUncheck:function(index, row){
					var billNo = row.billNo;
					$('#amount_' + billNo).attr('disabled', 'disabled');
				},
				onCheckAll:function(rows){
					$('[name^="amount_"]').removeAttr("disabled");
				},
				onUncheckAll:function(rows){
					$('[name^="amount_"]').attr("disabled", 'disabled');
				}
			});

			$('#searchBtn').click(function(){
				reloadData();
			});

			$('#submitBtn').click(function(){
				$('#returnChkForm').iForm('submit', {
					url:'/fix/returnChk/submit',
					success:function(data){
						data = $.parseJSON(data);
						if(data.statusCode == 200){
							$.iMessager.show({
								title:data.title,
								msg:data.message
							})
							reloadData();
						} else {
							$.iMessager.alert({
								icon:'messager-error',
								title:data.title,
								msg:data.message
							});
						}
					}
				});
			});

			$('#backBtn').click(function(){
				$('#returnChkForm').iForm('submit', {
					url:'/fix/returnChk/back',
					success:function(data){
						data = $.parseJSON(data);
						if(data.statusCode == 200){
							$.iMessager.show({
								title:data.title,
								msg:data.message
							})
							reloadData();
						} else {
							$.iMessager.alert({
								icon:'messager-error',
								title:data.title,
								msg:data.message
							});
						}
					}
				});
			});
		})

		function reloadData(){
			$('#returnChkDg').iDatagrid('reload',{
				storeQry:$('#storeQry').iCombobox('getValue'),
				matQry:$('#matQry').iTextbox('getValue')
			});
		}
	</script>

</th:block>
</body>
</html>