<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ewsd.material.mapper.MOfferMapper">
	<select id="getPageSet" resultType="cn.ewsd.material.model.MOffer">
        SELECT * FROM m_offer
        <where>
            <if test="filterSort != null">
				${filterSort}
            </if>
        </where>
    </select>
    
    <select id="getMaxOfferNo" resultType="java.lang.String">
        SELECT MAX(offer_no) FROM m_offer
    </select>

    <insert id="executeSave" parameterType="cn.ewsd.material.model.MOffer">
        INSERT INTO m_offer (`offer_no`, `offer_name`, `short_name`, `link_man`, `contact_way`, `offer_addr`, `cert_info`,
                             `uuid`, `create_time`, `creator`, `creator_id`, `creator_org_id`, `modifier_id`, `modifier`, `modify_time`)
        VALUES (#{offerNo}, #{offerName}, #{shortName}, #{linkMan}, #{contactWay}, #{offerAddr}, #{certInfo},
                #{uuid}, #{createTime}, #{creator}, #{creatorId}, #{creatorOrgId}, #{modifierId}, #{modifier}, #{modifyTime})
    </insert>

    <select id="queryObject" resultType="cn.ewsd.material.model.MOffer">
        SELECT * FROM m_offer
    </select>

    <update id="executeUpdate" parameterType="cn.ewsd.material.model.MOffer">
        UPDATE m_offer
        <set>
            <if test="offerNo != null">`offer_no` = #{offerNo}, </if>
            <if test="offerName != null">`offer_name` = #{offerName}, </if>
            <if test="shortName != null">`short_name` = #{shortName}, </if>
            <if test="linkMan != null">`link_man` = #{linkMan}, </if>
            <if test="contactWay != null">`contact_way` = #{contactWay}, </if>
            <if test="offerAddr != null">`offer_addr` = #{offerAddr}, </if>
            <if test="certInfo != null">`cert_info` = #{certInfo}, </if>
            <if test="modifierId != null">`modifier_id` = #{modifierId}, </if>
            <if test="modifier != null">`modifier` = #{modifier}, </if>
            <if test="modifyTime != null">`modify_time` = #{modifyTime}</if>
        </set>
        WHERE uuid = #{uuid}
    </update>

    <delete id="executeDelete">
        DELETE FROM m_offer WHERE uuid = #{value}
    </delete>

    <select id="getOfferList" resultType="cn.ewsd.material.model.MOffer">
        SELECT * FROM m_offer WHERE 1=1
        <if test="_parameter!=null">
            AND offer_name LIKE CONCAT('%', #{_parameter}, '%')
        </if>
    </select>
    
    <select id="getOfferByName" resultType="cn.ewsd.material.model.MOffer">
        SELECT * FROM m_offer WHERE offer_name=#{_parameter}
    </select>
</mapper>