<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
<div data-toggle="topjui-layout" data-options="fit:true">
    <form id="inAccForm" method="post">
        <div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false">
            <table id="inAccDg"></table>
        </div>
    </form>
</div>

<!-- 表格工具栏 -->
<div id="inAccDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'inAccDg'
       }" style="display:none">

    <label class="topjui-form-label" style="width:80px;float:none;display:inline-block">计划月份：</label>
    <select id="yearQry" data-toggle="topjui-combobox" name="yearQry" data-options="width:75" >
        <option th:each="i:${#numbers.sequence(2015, endYear)}" th:value="${i}" th:text="${i}" th:selected="${i==currentYear}"></option>
    </select>
    <select id="monQry" data-toggle="topjui-combobox" name="monQry" data-options="width:70" >
        <option th:each="i:${#numbers.sequence(1, 12)}" th:value="${i<10 ? '0'.toString()+i : i}" th:text="${i<10 ? '0'.toString()+i : i}" th:selected="${i==currentMonth}"></option>
    </select>

    <label class="topjui-form-label" style="width:80px;float:none;display:inline-block">订单号：</label>
    <input id="orderQry" data-toggle="topjui-textbox" name="orderQry" data-options="width:'200px'" value="">

    <label class="topjui-form-label" style="width:80px;float:none;display:inline-block">发票号：</label>
    <input id="numberQry" data-toggle="topjui-textbox" name="numberQry" data-options="width:'200px'" value="">

    <a href="javascript:void(0)" id="searchBtn" class="l-btn topjui-btn-orange l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
        <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
            <span class="l-btn-text">查询</span>
            <span class="l-btn-icon fa fa-search">&nbsp;</span>
        </span>
    </a>

    <ewsd:rbac str="/material/mInAccount/import">
        <a href="javascript:void(0)" id="uploadBtn" class="l-btn topjui-btn-blue l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
        <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
            <span class="l-btn-text">导入</span>
            <span class="l-btn-icon fa fa-upload">&nbsp;</span>
        </span>
        </a>
    </ewsd:rbac>

    <ewsd:rbac str="/material/mInAccount/export">
        <a href="javascript:void(0)" id="downloadBtn" class="l-btn topjui-btn-green l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
        <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
            <span class="l-btn-text">下载</span>
            <span class="l-btn-icon fa fa-download">&nbsp;</span>
        </span>
        </a>
    </ewsd:rbac>

    <ewsd:rbac str="/material/mInAccount/delete">
        <a href="javascript:void(0)" id="deleteBtn" class="l-btn topjui-btn-red l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
        <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
            <span class="l-btn-text">删除</span>
            <span class="l-btn-icon fa fa-trash">&nbsp;</span>
        </span>
        </a>
    </ewsd:rbac>
</div>
</th:block>

<th:block layout:fragment="js">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var hasRight = [[${hasRight}]];
            $('#inAccDg').iDatagrid({
                singleSelect: true,
                selectOnCheck: false,
                checkOnSelect: false,
                url: '/material/mInAccount/getPageSet',
                queryParams:{
                    yearQry:$('#yearQry').iCombobox("getValue"),
                    monQry:$('#monQry').iCombobox("getValue"),
                    orderQry:$('#orderQry').iTextbox("getValue"),
                    numberQry:$('#numberQry').iTextbox("getValue")
                },
                columns:[ [
                    {
                        field:'uuid', sortable:false, title:'', checkbox:true
                    },{
                        field:'centerNo', sortable:false, title:'成本中心'
                    },{
                        field:'centerName', sortable:false, title:'中心描述'
                    },{
                        field:'matCode', sortable:false, title:'材料编码'
                    },{
                        field:'matName', sortable:false, title:'材料描述'
                    },{
                        field:'outAmount', sortable:false, title:'实发数量'
                    },{
                        field:'realAmount', sortable:false, title:'实验数量'
                    },{
                        field:'setPrice', sortable:false, title:'进货单价'
                    },{
                        field:'inBala', sortable:false, title:'金额'
                    },{
                        field:'taxRate', sortable:false, title:'税率'
                    },{
                        field:'taxPrice', sortable:false, title:'含税单价'
                    },{
                        field:'setBala', sortable:false, title:'价税金额'
                    },{
                        field:'orderNo', sortable:false, title:'订单号'
                    },{
                        field:'billNumber', sortable:false, title:'发票号'
                    }
                ] ]
            });

            $('#uploadBtn').click(function(){
                var $editDialog = $('<form id="myDialog"></form>');
                $editDialog.iDialog({
                    title: '导入Excel',
                    width: 950,
                    height: 450,
                    closed: false,
                    cache: false,
                    href: '/material/mInAccount/importPage',
                    modal: true
                });
            });

            $('#searchBtn').click(function(){
                reloadPlan();
            });

            $('#downloadBtn').click(function(){
                $('#inAccForm').iForm('submit', {
                    url:'/material/mInAccount/export',
                    success:function(data){

                    }
                });
            });

            $('#deleteBtn').click(function(){
                $('#inAccForm').iForm('submit', {
                    url:'/material/mInAccount/delete',
                    success:function(data){
                        data = $.parseJSON(data);
                        if(data.statusCode == 200){
                            $.iMessager.show({
                                title:data.title,
                                msg:data.message
                            })
                            reloadPlan();
                        } else {
                            $.iMessager.alert({
                                icon:'messager-error',
                                title:data.title,
                                msg:data.message
                            });
                        }
                    }
                });
            });
        });

        function reloadPlan(){
            $('#inAccDg').iDatagrid('reload',{
                yearQry:$('#yearQry').iCombobox("getValue"),
                monQry:$('#monQry').iCombobox("getValue"),
                orderQry:$('#orderQry').iTextbox("getValue"),
                numberQry:$('#numberQry').iTextbox("getValue")
            });
        }
    </script>
</th:block>
</body>
</html>