<style>
    .topjui-col-sm4, .topjui-col-sm6, .topjui-col-sm12 {
        margin-top: 10px;
    }
</style>
<input type="hidden" id="uuid" name="uuid">
<div class="topjui-fluid">

	<div class="topjui-row">
		<div class="topjui-col-sm6">
			<label class="topjui-form-label">发生日期</label>
			<div class="topjui-input-block">
				<input type="text" name="occDate"
					   data-toggle="topjui-datebox"
					   data-options="prompt:'发生日期',required:true">
			</div>
		</div>
		<div class="topjui-col-sm6">
			<label class="topjui-form-label">责任单位</label>
			<div class="topjui-input-block">
				<input type="text" name="teamNo"
					data-toggle="topjui-combobox"
					data-options="prompt:'责任单位',
					required:true,
					valueField:'id',
                    textField:'text',
                    panelHeight:'200',
                      icons:[{
                          iconCls:'fa fa-remove',
                          handler: function(e){
                              $(e.data.target).combobox('clear');
                          }
                      }],
                    url:'/cost/fAward/getOrgByFaward'">
			</div>
		</div>
		<div class="topjui-col-sm6">
			<label class="topjui-form-label">通知单号</label>
			<div class="topjui-input-block">
				<input type="text" name="noticeNo"
					   data-toggle="topjui-textbox"
					   data-options="prompt:'通知单号',required:true">
			</div>
		</div>
		<div class="topjui-col-sm6">
			<label class="topjui-form-label">考核类别</label>
			<div class="topjui-input-block">
				<input type="text" name="assessType"
					   data-toggle="topjui-combobox"
					   data-options="prompt:'考核类别',
					   required:true,
					valueField:'value',
					data: [
						{
							text: '个人',
							value: '1'
						}
					]">
			</div>
		</div>
		<div class="topjui-col-sm6">
			<label class="topjui-form-label">考核分类</label>
			<div class="topjui-input-block">
				<input type="text" name="assessCate"
					   data-toggle="topjui-combobox"
					   data-options="prompt:'考核分类',
					   required:true,
						prompt:'必填',
                   panelHeight:190,
                   url:'/system/dicSet/getDicItemByCode?code=f.awardType',
                   valueField:'value',
    				textField:'text'">
			</div>
		</div>
		<div class="topjui-col-sm6">
			<label class="topjui-form-label">考核金额</label>
			<div class="topjui-input-block">
				<input type="text" name="awardBala"
					   data-toggle="topjui-numberbox"
					   data-options="prompt:'考核金额',required:true,min:0,precision:2">
			</div>
		</div>
		<div class="topjui-col-sm6">
			<label class="topjui-form-label">考核单位</label>
			<div class="topjui-input-block">
				<input type="text" name="assessTeam"
					   data-toggle="topjui-combobox"
					   data-options="prompt:'考核单位',
						required:true,
						valueField:'id',
                    	textField:'text',
                    	panelHeight:'200',
                      icons:[{
                          iconCls:'fa fa-remove',
                          handler: function(e){
                              $(e.data.target).combobox('clear');
                          }
                      }],
                    url:'/cost/fAward/getOrgByFaward'">
			</div>
		</div>
		<div class="topjui-col-sm6">
			<label class="topjui-form-label">签发人</label>
			<div class="topjui-input-block">
				<input type="text" name="signEmp"
					   data-toggle="topjui-textbox"
					   data-options="prompt:'签发人',required:true">
			</div>
		</div>
	</div>
	<div class="topjui-row">
		<div class="topjui-col-sm12">
			<label class="topjui-form-label">考核原因</label>
			<div class="topjui-input-block">
				<input type="text" name="reason"
					   data-toggle="topjui-textarea"
					   data-options="prompt:'考核原因'">
			</div>
		</div>
	</div>
</div>
<!--
<script>
	$.fn.iDatebox.defaults.formatter = function(date){
		var y = date.getFullYear();
		var m = date.getMonth()+1;
		var d = date.getDate();
		if (m >= 1 && m <= 9) {
			m = "0" + m;
		}
		if (d >= 0 && d <= 9) {
			d = "0" + d;
		}
		return y+''+m+''+d;
	}
</script>-->
