<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
<div data-toggle="topjui-layout" data-options="fit:true">
	<form id="bcStockWarnForm">
		<div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false">
			<table id="bcStockWarnDg"></table>
		</div>
	</form>
</div>

<!-- 表格工具栏 -->
<div id="bcStockWarnDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'bcStockWarnDg'
       }" style="display:none">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">预警级别：</label>
	<input data-toggle="topjui-combobox" id="flagQry" value="yellow" name="flagQry" data-options="width:'150px',valueField:'value',textField:'text',data:[
		{value:'yellow', text:'最高'},
		{value:'red', text:'最低'}
	]">

	<label class="topjui-form-label" style="width:100px;float:none;display:inline-block">物料编码：</label>
	<input id="codeQry" data-toggle="topjui-textbox" name="codeQry" data-options="width:'150px'" value="">

	<label class="topjui-form-label" style="width:100px;float:none;display:inline-block">物料描述：</label>
	<input id="nameQry" data-toggle="topjui-textbox" name="nameQry" data-options="width:'150px'" value="">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">仓库：</label>
	<input data-toggle="topjui-combobox" name="storeQry" id="storeQry" th:value="${storeQry}" data-options="valueField:'storeNo',textField:'storeName',url:'/repository/mStore/getStoreList?storeLevel=r.storeLevel.1', width:'150px'">

	<a href="javascript:void(0)" id="searchBtn" class="l-btn topjui-btn-orange l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
        <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
            <span class="l-btn-text">查询</span>
            <span class="l-btn-icon fa fa-search">&nbsp;</span>
        </span>
	</a>

	<a href="javascript:void(0)" id="downloadBtn" class="l-btn topjui-btn-blue l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
        <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
            <span class="l-btn-text">下载</span>
            <span class="l-btn-icon fa fa-download">&nbsp;</span>
        </span>
	</a>

</div>
</th:block>

<th:block layout:fragment="js">
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function(){
			$('#bcStockWarnDg').iDatagrid({
				queryParams:{
					flagQry:$('#flagQry').iCombobox('getValue'),
					codeQry:$('#codeQry').iTextbox('getValue'),
					nameQry:$('#nameQry').iTextbox('getValue'),
					storeQry:$('#storeQry').iCombobox('getValue')
				},
				singleSelect:true,
				selectOnCheck:false,
				checkOnSelect:false,
				url:'/repository/bcStockWarn/getList',
				columns:[ [
					{
						field:'storeName',title:'仓库',sortable:false
					},{
						field:'erpType',title:'物料分类',sortable:false
					},{
						field:'typeName',title:'分类描述',sortable:false
					},{
						field:'matCode',title:'物料编码',sortable:false, formatter:function(value, row, index){
							if(value!='' && value!=null && value!=undefined){
								return value.substring(0, 1)=='X' ? value.substring(1) : value;
							}else{
								return ''
							}
						}
					},{
						field:'matName',title:'物料描述',sortable:false
					},{
						field:'matUnit',title:'单位',sortable:false
					},{
						field:'warnAmount',title:'预警数量',sortable:false
					},{
						field:'stockAmount',title:'库存数量',sortable:false
					}
				] ]
			});

			$('#searchBtn').click(function(){
				reloadData();
			});

			$('#downloadBtn').click(function(){
				$('#bcStockWarnForm').iForm('submit', {
					url:'/repository/bcStockWarn/download',
					success:function(data){

					}
				});
			});
		});

		function reloadData(){
			$('#bcStockWarnDg').iDatagrid('reload',{
				flagQry:$('#flagQry').iCombobox('getValue'),
				codeQry:$('#codeQry').iTextbox('getValue'),
				nameQry:$('#nameQry').iTextbox('getValue'),
				storeQry:$('#storeQry').iCombobox('getValue')
			});
		}
	</script>
</th:block>
</body>
</html>