<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="public/layout">

<style>
    .topjui-col-sm4, .topjui-col-sm6, .topjui-col-sm12 {
        margin-top: 10px;
    }
</style>

<th:block layout:fragment="css">

</th:block>
<th:block layout:fragment="content">
	<input type="hidden" id="planNo" name="planNo" th:value="${mPlan.planNo}">
	<div class="topjui-fluid">
		<div class="topjui-row">
			<div class="topjui-col-sm12" style="margin-top: 10px">
				<label class="topjui-form-label">材料代码：</label>
				<label class="topjui-form-label" style="width:auto; text-align: left" th:text="${mPlan.matCode}"></label>
			</div>
			<div class="topjui-col-sm12" style="margin-top: 10px">
				<label class="topjui-form-label">材料名称：</label>
				<label class="topjui-form-label" style="width:auto; text-align: left" th:text="${mPlan.matName}"></label>
			</div>
			<div class="topjui-col-sm6" style="margin-top: 10px">
				<label class="topjui-form-label">提报单号：</label>
				<div class="topjui-input-block">
					<input type="text" name="reserveNo" data-toggle="topjui-textbox" data-options="prompt:''" th:value="${mPlan.reserveNo}">
				</div>
			</div>
			<div class="topjui-col-sm6" style="margin-top: 10px">
				<label class="topjui-form-label">采购单号：</label>
				<div class="topjui-input-block">
					<input type="text" name="purchaseNo" data-toggle="topjui-textbox" data-options="prompt:''" th:value="${mPlan.purchaseNo}">
				</div>
			</div>
			<div class="topjui-col-sm6" style="margin-top: 10px">
				<label class="topjui-form-label">计划步骤：</label>
				<div class="topjui-input-block">
					<input data-toggle="topjui-combobox" name="planStep" id="planStep" th:value="${mPlan.planStep}" data-options="valueField:'processNo',textField:'processName',url:'/system/sysAuditProcess/getListByFuuid?fuuid=9C5389EA53854E12A8031ACF5AB9A3DB'">
				</div>
			</div>
			<div th:if="${flag}" class="topjui-col-sm6" style="margin-top: 10px">
				<label class="topjui-form-label">应急单位：</label>
				<div class="topjui-input-block">
					<input data-toggle="topjui-combobox" name="offerNo" id="offerNo" th:value="${mPlan.offerNo}" data-options="valueField:'id',textField:'text',url:'/system/sysUserQryOrg/getDeptSet'">
				</div>
			</div>
			<div th:if="${!flag}" class="topjui-col-sm6" style="margin-top: 10px">
				<label class="topjui-form-label">关闭原因：</label>
				<div class="topjui-input-block">
					<input type="text" name="remark" data-toggle="topjui-textbox" data-options="prompt:''" value="">
				</div>
			</div>
			<div th:if="${!flag}" class="topjui-col-sm6" style="margin-top: 10px">
				<label class="topjui-form-label">减少数量：</label>
				<div class="topjui-input-block">
					<input type="text" name="minusAmount" data-toggle="topjui-textbox" data-options="prompt:''" value="">不超过<span th:text="${usableAmount}"></span>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="js">
	<script type="text/javascript" th:inline="javascript">
		$('#offerNo').iCombobox({
			loadFilter:function(data){
				data.unshift({id:'', text:'--全部--'});
				return data
			}
		})
	</script>
</th:block>
</html>