<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>
<!--井下周转登记-->
<body>
<th:block layout:fragment="content">
<div data-toggle="topjui-layout" data-options="fit:true">
	<form id="turnConfForm" style="height:100%">
		<div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false,height:'100%'">
			<table id="turnConfDg"></table>
		</div>
	</form>
</div>

<!-- 表格工具栏 -->
<div id="turnConfDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'turnConfDg'
       }" style="display:none">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">日期区间：</label>
	<input id="date1Qry" name="date1Qry" th:value="${date1Qry}" type="text" data-toggle="topjui-datebox" data-options="width:'150px'">
	<label class="topjui-form-label" style="width:20px;float:none;display:inline-block">到</label>
	<input id="date2Qry" name="date2Qry" th:value="${date2Qry}" type="text" data-toggle="topjui-datebox" data-options="width:'150px'">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">物料：</label>
	<input id="matQry" data-toggle="topjui-textbox" name="matQry" data-options="width:'150px'" value="">

	<a href="javascript:void(0)" id="searchBtn" class="l-btn topjui-btn-orange l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
		<span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
			<span class="l-btn-text">查询</span>
			<span class="l-btn-icon fa fa-search">&nbsp;</span>
		</span>
	</a>

	<a href="javascript:void(0)" id="submitBtn" class="l-btn topjui-btn-green l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
		<span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
			<span class="l-btn-text">审核通过</span>
			<span class="l-btn-icon fa fa-check">&nbsp;</span>
		</span>
	</a>

	<a href="javascript:void(0)" id="backBtn" class="l-btn topjui-btn-red l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
		<span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
			<span class="l-btn-text">退回重提</span>
			<span class="l-btn-icon fa fa-times">&nbsp;</span>
		</span>
	</a>
</div>
</th:block>

<th:block layout:fragment="js">
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function(){
			$('#turnConfDg').iDatagrid({
				singleSelect:true,
				selectOnCheck:false,
				checkOnSelect:false,
				url:'/fix/turnConf/getPageSet',
				queryParams:{
					date1Qry:$('#date1Qry').iDatebox('getValue'),
					date2Qry:$('#date2Qry').iDatebox('getValue'),
					matQry:$('#matQry').iTextbox('getValue')
				},
				columns:[ [
					{
						field:'billNo', sortable:false, title:'', checkbox:true
					},{
						field:'inStepName', sortable:false, title:'步骤'
					},{
						field:'matCode', sortable:false, title:'物料编码'
					},{
						field:'matName', sortable:false, title:'物料描述'
					},{
						field:'matUnit', sortable:false, title:'计量单位'
					},{
						field:'teamName', sortable:false, title:'申请单位'
					},{
						field:'offerTeamName', sortable:false, title:'审核单位'
					},{
						field:'applyDate', sortable:false, title:'申请日期', formatter:function(value, row, index){
							return value.substring(0, 4) + "-" + value.substring(4, 6) + "-" + value.substring(6, 8)
						}
					},{
						field:'inDate', sortable:false, title:'审核日期', formatter:function(value, row, index){
							return value.substring(0, 4) + "-" + value.substring(4, 6) + "-" + value.substring(6, 8)
						}
					},{
						field:'inAmount', sortable:false, title:'审批数量', align:'right'
					},{
						field:'reserve1', sortable:false, title:'暂存地点'
					},{
						field:'uuid', sortable:false, title:'使用地点', formatter:function (value, row, index) {
							return '<span class="textbox"><input class="textbox-text" type="text" id="addr_'+ row.billNo +'" name="addr_'+ row.billNo +'" value="" disabled /></span>'
						}
					},{
						field:'checkInfo', sortable:false, title:'审核备注'
					},{
						field:'creator', sortable:false, title:'申请号', formatter:function (value, row, index) {
							return row.billNo
						}
					}
				] ],
				onCheck:function(index, row){
					var billNo = row.billNo;
					$('#addr_' + billNo).removeAttr('disabled');
				},
				onUncheck:function(index, row){
					var billNo = row.billNo;
					$('#addr_'+ billNo).attr('disabled', 'disabled');
				},
				onCheckAll:function(rows){
					$('[name^="addr_"]').removeAttr("disabled");
				},
				onUncheckAll:function(rows){
					$('[name^="addr_"]').attr("disabled", 'disabled');
				}
			});

			$('#searchBtn').click(function(){
				reloadData();
			});

			$('#submitBtn').click(function(){
				$('#turnConfForm').iForm('submit', {
					url:'/fix/turnConf/submit',
					success:function(data){
						data = $.parseJSON(data);
						if(data.statusCode == 200){
							$.iMessager.show({
								title:data.title,
								msg:data.message
							})
							reloadData();
						} else {
							$.iMessager.alert({
								icon:'messager-error',
								title:data.title,
								msg:data.message
							});
						}
					}
				});
			});

			$('#backBtn').click(function(){
				$('#turnConfForm').iForm('submit', {
					url:'/fix/turnConf/back',
					success:function(data){
						data = $.parseJSON(data);
						if(data.statusCode == 200){
							$.iMessager.show({
								title:data.title,
								msg:data.message
							})
							reloadData();
						} else {
							$.iMessager.alert({
								icon:'messager-error',
								title:data.title,
								msg:data.message
							});
						}
					}
				});
			});
		})

		function reloadData(){
			$('#turnConfDg').iDatagrid('reload',{
				date1Qry:$('#date1Qry').iDatebox('getValue'),
				date2Qry:$('#date2Qry').iDatebox('getValue'),
				matQry:$('#matQry').iTextbox('getValue')
			});
		}
	</script>

</th:block>
</body>
</html>