<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout-bootstrap">
<head>
    <th:block layout:fragment="css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <!-- 避免IE使用兼容模式 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="renderer" content="webkit">
        <title></title>
        <!--<link type="text/css" href="/public/css/font.css" rel="stylesheet"/>-->
        <link type="text/css" href="/public/iconfont2/iconfont.css" rel="stylesheet"/>
        <link type="text/css" href="/public/css/main.css" rel="stylesheet"/>
        <!-- TopJUI框架样式 -->
        <!--<link type="text/css" href="${staticServer}/topjui/css/topjui.core.min.css" rel="stylesheet">
        <link type="text/css" href="${staticServer}/topjui/themes/default/topjui.blue.css" rel="stylesheet" id="dynamicTheme"/>-->
        <!-- FontAwesome字体图标 -->
        <link type="text/css" href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
        <!-- layui框架样式 -->
        <link type="text/css" href="/plugins/layui/css/layui.css" rel="stylesheet"/>
        <!-- jQuery相关引用 -->
        <script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/plugins/jquery/jquery.cookie.js"></script>
        <!-- TopJUI框架配置 -->
        <script type="text/javascript" src="/public/js/topjui.config.js"></script>
        <!-- TopJUI框架核心-->
        <script type="text/javascript" src="/topjui/js/topjui.core.min.js"></script>
        <!-- TopJUI中文支持 -->
        <script type="text/javascript" src="/topjui/js/locale/topjui.lang.zh_CN.js"></script>

        <link type="text/css" rel="stylesheet" href="/public/indexPage/fonts/fontawesome/css/fontawesome-all.min.css">
        <link type="text/css" rel="stylesheet" href="/public/indexPage/plugins/animation/css/animate.min.css">
        <link type="text/css" rel="stylesheet" href="/public/indexPage/css/style.css">
        <link type="text/css" rel="stylesheet" href="/public/indexPage/css/default.css">

    </th:block>

</head>

<body>
<th:block layout:fragment="content">
<div class="layui-container-fluid">

    <!-- [ 主内容区 ] start -->
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">

                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="dashboard-container">
                                    <!--左侧主模块-->
                                    <main class="dashboard-main col-lg-9 col-md-12 col-sm-12 col-xs-1">
                                        <!--<div style="background-color: rgb(255, 255, 255);"></div>-->
                                        <!--实时概况模块-->
                                        <div style="background-color: rgb(255, 255, 255);">
                                            <div class="main-widget-box main-new-business-overview-index">
                                                <div class="header">
                                                    <h2 class="header-title">实时概况<div><span class="update-time">更新时间：[[${getDate}]]</span><div class="zent-popover-wrapper zent-pop-wrapper" style="display: inline-block;"><i class="zenticon zenticon-help-circle common-hint-icon help-icon"></i></div><div class="switch" data-yz_event_sign="summary_hide" data-yz_event_name="实时概况-隐藏按钮" style="display: none;" ></div></div></h2>
                                                </div>
                                                <div class="box">
                                                    <div class="zent-layout-grid">
                                                        <div class="zent-row zent-row-justify-start zent-row-align-start">
                                                            <div class="zent-col zent-col-12 box-col col-xs-1">
                                                                <div class="zent-col zent-col-12">
                                                                    <div class="main-overview-data-item" data-yz_ctn_index="完全成本" data-yz_event_sign="summary_index_view" data-yz_event_name="实时概况-数据指标" data-yz_auto_view="false">
                                                                        <div class="title">完全成本</div>
                                                                        <a class="amount amount-cursor" href="javascript:window.parent.addParentTab({href:'/psgc1/supProject/indexSelect',title:'工程信息'})" rel="noopener noreferrer" data-yz_ctn_index="进行中评审" data-yz_event_sign="summary_index_hit" data-yz_event_name="实时概况-数据指标"><span class="amount-today">123,443</span></a>
                                                                        <div class="amount-yesterday">全部：<span>123,443</span></div>
                                                                    </div>
                                                                </div>
                                                                <div class="zent-col zent-col-12">
                                                                    <div class="main-overview-data-item" data-yz_ctn_index="吨煤材料单耗" data-yz_event_sign="summary_index_view" data-yz_event_name="实时概况-数据指标" data-yz_auto_view="false">
                                                                        <div class="title">吨煤材料单耗</div>
                                                                        <a class="amount amount-cursor" href="javascript:window.parent.addParentTab({href:'/psgc1/supProject/indexSelect',title:'工程信息'})" rel="noopener noreferrer" data-yz_ctn_index="工程数量" data-yz_event_sign="summary_index_hit" data-yz_event_name="实时概况-数据指标"><span class="amount-today">321,12</span></a>
                                                                       <!-- <div class="amount-yesterday">全部：<span>&#45;&#45;</span></div>-->
                                                                    </div>
                                                                </div>
                                                                <div class="zent-col zent-col-12">
                                                                    <div class="main-overview-data-item" data-yz_ctn_index="吨煤电耗" data-yz_event_sign="summary_index_view" data-yz_event_name="实时概况-数据指标" data-yz_auto_view="false">
                                                                        <div class="title">吨煤电耗</div>
                                                                        <a class="amount amount-cursor" href="javascript:window.parent.addParentTab({href:'/psgc1/supProject/indexUpload',title:'图纸上传'})" rel="noopener noreferrer" data-yz_ctn_index="待传图纸任务" data-yz_event_sign="summary_index_hit" data-yz_event_name="实时概况-数据指标"><span class="amount-today">333</span></a>
                                                                        <!--<div class="amount-yesterday">全部：<span>&#45;&#45;</span></div>-->
                                                                    </div>
                                                                </div>
                                                                <div class="zent-col zent-col-12">
                                                                    <div class="main-overview-data-item" data-yz_ctn_index="年度累计消耗" data-yz_event_sign="summary_index_view" data-yz_event_name="实时概况-数据指标" data-yz_auto_view="false">
                                                                        <div class="title">年度累计消耗</div>
                                                                        <a class="amount amount-cursor" href="javascript:window.parent.addParentTab({href:'/psgc1/supProject/indexSelectExpert',title:'匹配专家'})" rel="noopener noreferrer" data-yz_ctn_index="年度累计消耗" data-yz_event_sign="summary_index_hit" data-yz_event_name="实时概况-数据指标"><span class="amount-today">543,234,55</span></a>
                                                                        <!--<div class="amount-yesterday">全部：<span>&#45;&#45;</span></div>-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="zent-col zent-col-12 box-col col-xs-1">
                                                                <div class="zent-col zent-col-12">
                                                                    <div class="main-overview-data-item" data-yz_ctn_index="待审会议" data-yz_event_sign="summary_index_view" data-yz_event_name="实时概况-数据指标" data-yz_auto_view="false">
                                                                        <div class="title">待审会议</div>
                                                                        <a class="amount amount-cursor" href="javascript:window.parent.addParentTab({href:'/psgc1/supExpert/index',title:'专家信息'})" rel="noopener noreferrer" data-yz_ctn_index="可参与评审专家" data-yz_event_sign="summary_index_hit" data-yz_event_name="实时概况-数据指标"><span class="amount-today">2</span></a>
                                                                        <div class="amount-yesterday">全部：<span>55</span></div>
                                                                    </div>
                                                                </div>
                                                                <div class="zent-col zent-col-12">
                                                                    <div class="main-overview-data-item" data-yz_ctn_index="待审公寓" data-yz_event_sign="summary_index_view" data-yz_event_name="实时概况-数据指标" data-yz_auto_view="false">
                                                                        <div class="title">待审公寓</div>
                                                                        <a class="amount amount-cursor" href="javascript:window.parent.addParentTab({href:'/psgc1/supExpert/indexrk',title:'专家审核'})" rel="noopener noreferrer" data-yz_ctn_index="待审公寓" data-yz_event_sign="summary_index_hit" data-yz_event_name="实时概况-数据指标"><span class="amount-today">6</span></a>
                                                                        <div class="amount-yesterday">全部：<span>65</span></div>
                                                                    </div>
                                                                </div>
                                                                <div class="zent-col zent-col-12">
                                                                    <div class="main-overview-data-item" data-yz_ctn_index="待处理报修" data-yz_event_sign="summary_index_view" data-yz_event_name="实时概况-数据指标" data-yz_auto_view="false">
                                                                        <div class="title">待处理报修</div>
                                                                        <a class="amount amount-cursor" href="javascript:window.parent.addParentTab({href:'/psgc1/supProject/indexSelect',title:'工程信息'})" rel="noopener noreferrer" data-yz_ctn_index="待处理报修" data-yz_event_sign="summary_index_hit" data-yz_event_name="实时概况-数据指标"><span class="amount-today">3</span></a>
                                                                        <div class="amount-yesterday">全部：<span>213</span></div>
                                                                    </div>
                                                                </div>
                                                                <div class="zent-col zent-col-12">
                                                                    <div class="main-overview-data-item" data-yz_ctn_index="员工数量" data-yz_event_sign="summary_index_view" data-yz_event_name="实时概况-数据指标" data-yz_auto_view="false">
                                                                        <div class="title">员工数量</div>
                                                                        <a class="amount amount-cursor" href="javascript:window.parent.addParentTab({href:'/psgc1/supProject/indexSelect',title:'工程信息'})" rel="noopener noreferrer" data-yz_ctn_index="员工数量" data-yz_event_sign="summary_index_hit" data-yz_event_name="实时概况-数据指标"><span></span><span class="amount-today">1128</span></a>
                                                                        <div class="amount-yesterday">全部：<span>1566</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--常用功能模块-->
                                        <div style="background-color: rgb(255, 255, 255);">
                                            <div class="main-widget-box">
                                                <div class="header">
                                                    <h2 class="header-title">常用功能</h2>
                                                    <!--<div class="header-action">
                                                        <a href="" target="_blank" rel="noopener noreferrer">更多功能</a>
                                                    </div>-->
                                                </div>

                                                <!--<div class="mian-study-exchange" th:if="${userInfo.orgId} eq 44" >-->
                                                <div class="mian-study-exchange">
                                                    <a class="item item-1" href="javascript:window.parent.addParentTab({href:'/logistics/hqMeeting/indexApply',title:'会议申请'})">
                                                        <div class="title">会议申请</div>
                                                        <div class="desc">申请使用会议室</div>
                                                    </a>
                                                    <a class="item item-2" href="javascript:window.parent.addParentTab({href:'/logistics/hqMeeting/indexAudit',title:'会议审批'})">
                                                        <div class="title">会议审批</div>
                                                        <div class="desc">会议室使用审批</div>
                                                    </a>
                                                    <a class="item item-3" href="javascript:window.parent.addParentTab({href:'/logistics/hqApartmentApply/indexHostel',title:'招待所申请'})">
                                                        <div class="title">招待所申请</div>
                                                        <div class="desc">申请招待所房间</div>
                                                    </a>
                                                    <a class="item item-4" href="javascript:window.parent.addParentTab({href:'/logistics/hqApartmentApply/indexAudit?Type=ZDS',title:'招待所审批'})">
                                                        <div class="title">招待所审批</div>
                                                        <div class="desc">招待所使用审批</div>
                                                    </a>
                                                    <a class="item item-5" href="javascript:window.parent.addParentTab({href:'/logistics/hqReserveDinner/indexAudit',title:'就餐审批'})">
                                                        <div class="title">就餐审批</div>
                                                        <div class="desc">就餐申请信息审批</div>
                                                    </a>
                                                    <a class="item item-6" href="javascript:window.parent.addParentTab({href:'/logistics/hqReserveDinner/index',title:'就餐申请'})">
                                                        <div class="title">就餐申请</div>
                                                        <div class="desc">提交就餐申请</div>
                                                    </a>
                                                    <!--<a class="item item-1" href="javascript:window.parent.addParentTab({href:'/logistics/hqReserveDinner/indexAudit',title:'就餐审批'})">
                                                        <div class="title">就餐审批</div>
                                                        <div class="desc">就餐申请信息审批</div>
                                                    </a>
                                                    <a class="item item-2" href="javascript:window.parent.addParentTab({href:'/logistics/hqReserveCar/index',title:'接送预约'})">
                                                        <div class="title">接送预约</div>
                                                        <div class="desc">接送站提交预约</div>
                                                    </a>
                                                    <a class="item item-3" href="javascript:window.parent.addParentTab({href:'/logistics/hqReserveCar/indexAudit',title:'接送审批'})">
                                                        <div class="title">接送审批</div>
                                                        <div class="desc">接送信息审批</div>
                                                    </a>-->
                                                </div>


                                            </div>
                                        </div>


                                        <!--月度费用消耗模块-->
                                        <div style="background-color: rgb(255, 255, 255);">
                                            <div class="main-widget-box">
                                                <div class="header">

                                                    <h2 class="header-title">月度费用消耗</h2>
                                                    <!--<div class="header-action">
                                                        <a href="" target="_blank" rel="noopener noreferrer">更多功能</a>
                                                    </div>-->
                                                </div>
                                                <div>
                                                    <div id="ydfyxh" style="height:300px;"></div>
                                                </div>

                                            </div>
                                        </div>

                                        <!--常用功能模块2-->
                                        <!--<div style="background-color: rgb(255, 255, 255);">
                                            <div class="main-widget-box">
                                                <div class="header">
                                                    <h2 class="header-title">常用功能</h2>
                                                    <div class="header-action"></div>
                                                </div>
                                                <div class="main-common-feature">
                                                    <a class="item item-1" href="" target="_blank" rel="noopener noreferrer">[[${userInfo.userNameId}]]</a>
                                                    <a class="item item-2" href="" target="_blank" rel="noopener noreferrer" th:text="${userInfo.userNameId}"></a>
                                                    <a class="item item-3" href="" target="_blank" rel="noopener noreferrer">编辑微页面</a>
                                                    <a class="item item-4" href="" rel="noopener noreferrer">智能客服</a>
                                                    <a class="item item-5" href="" target="_blank" rel="noopener noreferrer">微信小程序</a>
                                                    <a class="item item-6" href="" target="_blank" rel="noopener noreferrer">分销员</a>
                                                    <a class="item item-7" href="" target="_blank" rel="noopener noreferrer">收入/提现</a>
                                                    <a class="item item-8" href="" target="_blank" rel="noopener noreferrer">扫码收款</a>
                                                    <a class="item item-9" href="" target="_blank" rel="noopener noreferrer">优惠券</a>
                                                    <a class="item item-10" href="" target="_blank" rel="noopener noreferrer">发券宝</a>
                                                    <a class="item item-11" href="" target="_blank" rel="noopener noreferrer">多人拼团</a>
                                                    <a class="item item-12" href="" target="_blank" rel="noopener noreferrer">帮助中心</a>
                                                </div>
                                            </div>
                                        </div>-->

                                        <!--最新推荐模块-->
                                        <!--<div style="background-color: rgb(255, 255, 255);">
                                            <div class="main-widget-box main-latest-recommend">
                                                <div class="header">
                                                    <h2 class="header-title">最新推荐</h2>
                                                    <div class="header-action"></div>
                                                </div>
                                                <div class="ump">
                                                    <a class="item" href="" target="_blank" rel="noopener noreferrer">
                                                        <div class="title">微信小程序</div>
                                                        <div class="desc">抢占微信社交流量红利</div>
                                                    </a>
                                                    <a class="item" href="" target="_blank" rel="noopener noreferrer">
                                                        <div class="title">百度小程序</div>
                                                        <div class="desc">打造商家新官网</div>
                                                    </a>
                                                    <a class="item" href="" target="_blank" rel="noopener noreferrer" data-yz_event_sign="recommend_fx_market" data-yz_event_name="最新推荐-分销市场">
                                                        <div class="title">分销市场</div>
                                                        <div class="desc">一键上架，快速补充货源</div>
                                                    </a>
                                                    <a class="item" href="" target="_blank" rel="noopener noreferrer">
                                                        <div class="title">多人拼团</div>
                                                        <div class="desc">裂变式营销玩法</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>-->

                                        <!--经营建议模块-->
                                        <!--<div style="background-color: rgb(255, 255, 255);">
                                            <div class="main-widget-box">
                                                <div class="header">
                                                    <h2 class="header-title">经营建议</h2>
                                                    <div class="header-action">
                                                        <a href="" target="_blank" rel="noopener noreferrer">更多</a>
                                                    </div>
                                                </div>
                                                <div class="main-manage-suggestion">
                                                    <a class="item" href="" target="_blank" rel="noopener noreferrer">
                                                        <div class="title">分佣推广</div>
                                                        <div class="desc">快速实现成交增长</div>
                                                    </a>
                                                    <a class="item" href="" target="_blank" rel="noopener noreferrer">
                                                        <div class="title">快速回款</div>
                                                        <div class="desc">无需等待，发货当天即可回款</div>
                                                    </a>
                                                    <a class="item" href="" target="_blank" rel="noopener noreferrer">
                                                        <div class="title">需求中心</div>
                                                        <div class="desc">你提需求，我来实现</div>
                                                    </a>
                                                    <a class="item" href="" target="_blank" rel="noopener noreferrer">
                                                        <div class="title">我想开个店</div>
                                                        <div class="desc">每周五22时江苏卫视开播</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>-->

                                        <!--更多服务模块-->
                                        <!--<div style="background-color: rgb(255, 255, 255);">
                                            <div class="main-widget-box">
                                                <div class="header">
                                                    <h2 class="header-title">更多服务</h2>
                                                    <div class="header-action"></div>
                                                </div>
                                                <div class="main-more-service">
                                                    <a class="item item-1" href="" target="_blank" rel="noopener noreferrer">零售</a>
                                                    <a class="item item-2" href="" target="_blank" rel="noopener noreferrer">教育</a>
                                                    <a class="item item-3" href="" target="_blank" rel="noopener noreferrer">美业</a>
                                                    <a class="item item-4" href="" target="_blank" rel="noopener noreferrer">矿软精选</a>
                                                    <a class="item item-5" href="" target="_blank" rel="noopener noreferrer">矿软担保</a>
                                                    <a class="item item-6" href="" target="_blank" rel="noopener noreferrer">跨境服务</a>
                                                    <a class="item item-7" href="" rel="noopener noreferrer">矿软分销</a>
                                                    <a class="item item-8" href="" target="_blank" rel="noopener noreferrer">我要推广</a>
                                                    <a class="item item-9" href="" target="_blank" rel="noopener noreferrer">广告投放</a>
                                                </div>
                                            </div>
                                        </div>-->
                                    </main>

                                    <!--右侧模块-->
                                    <aside class="dashboard-aside col-lg-3 col-md-12 col-sm-12  col-xs-1 ">

                                        <!--消息通知模块-->
                                        <div class="aside-list">
                                            <div class="header">
                                                <h4 class="header-title">消息通知</h4>
                                                <a class="header-link" href="javascript:window.parent.addParentTab({href:'/system/archive/index?type=gzzd',title:'更多消息'})">更多</a>
                                            </div>
                                            <ul class="list">
                                                <tr th:each="archive : ${Tzxx10List}">
                                                    <li>
                                                        <a style="cursor:pointer" th:onclick="openArticleTab([[${archive.uuid}]],[[${#strings.length(archive.title)>10 ? #strings.abbreviate(archive.title,9) : archive.title}]])">[[${'['+#dates.format(archive.createTime, 'yyyy-MM-dd') + ']   '+archive.title}]]</a>
                                                    </li>
                                                </tr>
                                            </ul>
                                        </div>

                                        <div class="aside-list">
                                            <div class="header">
                                                <h4 class="header-title">操作帮助</h4></div>
                                            <ul class="list">
                                                <!--<li>
                                                    <a class="red" href="" target="_blank" rel="noopener noreferrer"></a>
                                                </li>-->
                                                <tr th:each="archive : ${Czbz5List}">
                                                    <li>
                                                        <a style="cursor:pointer" th:onclick="openArticleTab([[${archive.uuid}]],[[${#strings.length(archive.title)>10 ? #strings.abbreviate(archive.title,9) : archive.title}]])">[[${archive.title}]]</a>
                                                    </li>
                                                </tr>
                                            </ul>
                                        </div>

                                        <a rel="noopener noreferrer">
                                            <div class="aside-box">
                                                <div class="aside-simple-item">
                                                    <div class="icon icon-headset" style="background-image: url(&quot;/public/indexPage/img/headset.png&quot;);"></div>
                                                    <h4 class="title">联系开发者</h4>
                                                    <p class="desc">电话：029-8928-8971</p>
                                                </div>
                                            </div>
                                        </a>

                                        <!--<div class="aside-box aside-index">
                                            <div class="zent-popover-wrapper zent-pop-wrapper" style="display: inline-block;">
                                                <div class="aside-simple-item">
                                                    <div class="icon icon-im" style="background-image: url(&quot;https://img.yzcdn.cn/v4/imgs/dashboard/desktop.png&quot;);"></div>
                                                    <h4 class="title">桌面在线客服</h4>
                                                    <p class="desc">即时应答客户在线咨询</p>
                                                </div>
                                            </div>
                                            <div class="zent-popover-wrapper zent-pop-wrapper" style="display: inline-block;">
                                                <div class="aside-simple-item">
                                                    <div class="icon icon-app" style="background-image: url(&quot;https://img.yzcdn.cn/v4/imgs/dashboard/mobile.png&quot;);"></div>
                                                    <h4 class="title">移动客户端</h4>
                                                    <p class="desc">使用手机、Pad管理店铺</p>
                                                </div>
                                            </div>
                                        </div>-->

                                    </aside>
                                </div>

                            </div>
                        </div>

                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- [ 主内容区 ] end -->



</div>
</th:block>

<th:block layout:fragment="js">

<script type="text/javascript" src="/plugins/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/public/indexPage/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/public/indexPage/js/pre-loader.js"></script>
<!--thymleaf js获取变量-->
<script th:inline="javascript">
    var userNameId = [[${userInfo.userNameId}]];
</script>
    <script>
        function openArticleTab(uuid,title1) {
            window.parent.addParentTab({href:'/system/archive/detail?uuid=' + uuid ,title:title1});
        }
    </script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('ydfyxh'));
        var option = {
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                type: 'category',
                data: ['202101', '202102', '202103', '202104', '202105', '202106', '202107', '202108', '202109', '202110', '202111', '202112']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [150, 230, 224, 218, 135, 147, 260, 224, 218, 135, 147, 260],
                type: 'line'
            }]
        };
        myChart.setOption(option);
    </script>
<script src="/plugins/layui/layui.js" charset="utf-8"></script>
</th:block>
</body>
</html>