<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ewsd.repository.mapper.MCheckBillMapper">
    <insert id="insertCheckBill" parameterType="cn.ewsd.repository.model.MCheckBill">
        INSERT INTO m_check_bill (`bill_no`, `check_no`, `store_no`, `mat_no`, `bill_type`, `mat_amount`, `set_price`, `occ_date`, `occ_time`, `check_emp`,
                                  `uuid`, `create_time`, `creator`, `creator_id`, `creator_org_id`, `modifier_id`, `modifier`, `modify_time`)
        VALUES (#{billNo}, #{checkNo}, #{storeNo}, #{matNo}, #{billType}, #{matAmount}, #{setPrice}, #{occDate}, #{occTime}, #{checkEmp},
                #{uuid}, #{createTime}, #{creator}, #{creatorId}, #{creatorOrgId}, #{modifierId}, #{modifier}, #{modifyTime})
    </insert>
</mapper>