<style>
    .topjui-col-sm4, .topjui-col-sm6, .topjui-col-sm12 {
        margin-top: 10px;
    }
</style>
<div class="topjui-fluid">
	<div class="topjui-row">
    	<div class="topjui-col-sm6">
			<label class="topjui-form-label">材料代码</label>
			<div class="topjui-input-block">
				<select id="matNo" name="matNo"></select>
			</div>
		</div>
    	<div class="topjui-col-sm6">
			<label class="topjui-form-label">交旧比率</label>
			<div class="topjui-input-block">
				<input type="number" name="oldRate" data-toggle="topjui-textbox" data-options="prompt:''">
			</div>
		</div>
	</div>
</div>
