<style>
    .topjui-col-sm4, .topjui-col-sm6, .topjui-col-sm12 {
        margin-top: 10px;
    }
</style>
<input type="hidden" id="uuid" name="uuid">
<div class="topjui-fluid">
	<div class="topjui-row">
    																	<div class="topjui-col-sm6">
			<label class="topjui-form-label"></label>
			<div class="topjui-input-block">
								<input type="text" name="modifierTime"
					data-toggle="topjui-datetimebox"
					data-options="prompt:''">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">业务ID</label>
			<div class="topjui-input-block">
								<input type="text" name="billId"
					data-toggle="topjui-textbox"
					data-options="prompt:'业务ID'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">审批用户ID</label>
			<div class="topjui-input-block">
								<input type="text" name="userId"
					data-toggle="topjui-textbox"
					data-options="prompt:'审批用户ID'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">用户名称</label>
			<div class="topjui-input-block">
								<input type="text" name="userName"
					data-toggle="topjui-textbox"
					data-options="prompt:'用户名称'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">审核ID</label>
			<div class="topjui-input-block">
								<input type="text" name="checkId"
					data-toggle="topjui-textbox"
					data-options="prompt:'审核ID'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label"></label>
			<div class="topjui-input-block">
								<input type="text" name="checkDate"
					data-toggle="topjui-textbox"
					data-options="prompt:''">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label"></label>
			<div class="topjui-input-block">
								<input type="text" name="checkTime"
					data-toggle="topjui-textbox"
					data-options="prompt:''">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">0待审 1同意 2驳回</label>
			<div class="topjui-input-block">
								<input type="text" name="result"
					data-toggle="topjui-textbox"
					data-options="prompt:'0待审 1同意 2驳回'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label"></label>
			<div class="topjui-input-block">
								<input type="text" name="remark"
					data-toggle="topjui-textbox"
					data-options="prompt:''">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label"></label>
			<div class="topjui-input-block">
								<input type="text" name="stepKey"
					data-toggle="topjui-textbox"
					data-options="prompt:''">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label"></label>
			<div class="topjui-input-block">
								<input type="text" name="stepCode"
					data-toggle="topjui-textbox"
					data-options="prompt:''">
							</div>
		</div>
    		</div>
</div>