
<input type="hidden" name="uuid" >
<div class="topjui-fluid">

	<div class="topjui-row">
		<div class="topjui-col-sm12"><label class="topjui-form-label">工作空间</label>
			<div class="topjui-input-block">
				<input type="text" name="workSpace" data-toggle="topjui-textbox" data-options="required:true" value="${savePath}">
			</div>
		</div>
	</div>
	<div class="topjui-row">
		<div class="topjui-col-sm12"><label class="topjui-form-label">系统名称</label>
			<div class="topjui-input-block">
				<input type="text" name="systemName" data-toggle="topjui-textbox" data-options="required:true" value="${thisSystemName}">
			</div>
		</div>
	</div>
	<div class="topjui-row">
		<div class="topjui-col-sm12"><label class="topjui-form-label">模型名称</label>
			<div class="topjui-input-block">
				<input type="text" name="moduleName" data-toggle="topjui-textbox" data-options="required:true" value="${thisModelName}">
			</div>
		</div>
	</div>
	<div class="topjui-row">
		<div class="topjui-col-sm12"><label class="topjui-form-label">列表页风格</label>
			<div class="topjui-input-block">
				<input type="text" name="indexStyle" data-toggle="topjui-combobox" data-options="required:true,
		valueField:'value',
		data:[{
		    value:1,
			text:'基本列表'
		},{
			value:2,
			text:'带树形菜单列表'
		}]" >
			</div>
		</div>
	</div>
	<div class="topjui-row">
		<div class="topjui-col-sm12"><label class="topjui-form-label">作者姓名</label>
			<div class="topjui-input-block">
				<input type="text" name="authorName" data-toggle="topjui-textbox" data-options="" value="佐佑科技" >
			</div>
		</div>
	</div>
	<div class="topjui-row">
		<div class="topjui-col-sm12"><label class="topjui-form-label">作者邮箱</label>
			<div class="topjui-input-block">
				<input type="text" name="authorEmail" data-toggle="topjui-textbox" data-options="" value="service@ewsd.cn" >
			</div>
		</div>
	</div>

</div>

