
<input type="hidden" name="codeSetId">
<input type="hidden" name="pid">
<input type="hidden" name="levelId">

<div class="topjui-fluid">
    <div class="topjui-row">
        <div class="topjui-col-sm12"><label class="topjui-form-label">系统代码</label>
            <div class="topjui-input-block">
                <input type="text" name="systemName" data-toggle="topjui-textbox" data-options="required:true" value="${pathSystemName}">
            </div>
        </div>
    </div>
    <div class="topjui-row">
        <div class="topjui-col-sm12"><label class="topjui-form-label">模块代码</label>
            <div class="topjui-input-block">
                <input type="text" name="modelName" data-toggle="topjui-textbox" data-options="required:true" value="${pathModelName}">
            </div>
        </div>
    </div>
    <div class="topjui-row">
        <div class="topjui-col-sm12"><label class="topjui-form-label">新增功能名称</label>
            <div class="topjui-input-block">
                <input type="text" name="add" data-toggle="topjui-textbox" data-options="" value="新增">
            </div>
        </div>
    </div>
    <div class="topjui-row">
        <div class="topjui-col-sm12"><label class="topjui-form-label">编辑功能名称</label>
            <div class="topjui-input-block">
                <input type="text" name="edit" data-toggle="topjui-textbox" data-options="" value="编辑">
            </div>
        </div>
    </div>
    <div class="topjui-row">
        <div class="topjui-col-sm12"><label class="topjui-form-label">删除功能名称</label>
            <div class="topjui-input-block">
                <input type="text" name="delete" data-toggle="topjui-textbox" data-options="" value="删除">
            </div>
        </div>
    </div>
    <div class="topjui-row">
        <div class="topjui-col-sm12"><label class="topjui-form-label">导入功能名称</label>
            <div class="topjui-input-block">
                <input type="text" name="import" data-toggle="topjui-textbox" data-options="" value="导入">
            </div>
        </div>
    </div>
    <div class="topjui-row">
        <div class="topjui-col-sm12"><label class="topjui-form-label">导出功能名称</label>
            <div class="topjui-input-block">
                <input type="text" name="export" data-toggle="topjui-textbox" data-options="" value="导出">
            </div>
        </div>
    </div>
    <div class="topjui-row">
        <div class="topjui-col-sm12">
            <label class="topjui-form-label">使用说明</label>
            <div class="topjui-input-block" style="margin-top: 7px">
                <span style="color:red">如果不需要生成对应的功能，清空功能名称即可</span>
            </div>
        </div>
    </div>
</div>
