<style>
    .topjui-col-sm4, .topjui-col-sm6, .topjui-col-sm12 {
        margin-top: 10px;
    }
</style>
<input type="hidden" id="uuid" name="uuid">
<input type="hidden" name="contractId">
<div class="topjui-fluid">
    <div class="topjui-row">

        <div class="topjui-col-sm6">
            <label class="topjui-form-label">结算年份</label>
            <div class="topjui-input-block">
                <input type="text" name="accountMonth"
                       data-toggle="topjui-combobox"
                       data-options="prompt:'结算年份',
					   	required:true,
                   		panelHeight:150,
                   		url:'/system/dicSet/getDicItemByCode?code=sys.year',
                   		valueField:'value',
    					textField:'text'"
                >
            </div>
        </div>
		<div class="topjui-col-sm6">
			<label class="topjui-form-label">结算单位</label>
			<div class="topjui-input-block">
				<input type="text" name="creditTeam"
					   data-toggle="topjui-combobox"
					   data-options="prompt:'结算单位',
					required:true,
					valueField:'id',
                    textField:'text',
                    panelHeight:'200',
                      icons:[{
                          iconCls:'fa fa-remove',
                          handler: function(e){
                              $(e.data.target).combobox('clear');
                          }
                      }],
                    url:'/mdata/organization/getOrgListByTypeAndTenant?orgType=department'">
			</div>
		</div>
		<div class="topjui-col-sm6">
			<label class="topjui-form-label">施工单位</label>
			<div class="topjui-input-block">
				<input type="text" name="workTeam"
					   data-toggle="topjui-combobox"
					   data-options="prompt:'施工单位',
					required:true,
					valueField:'id',
                    textField:'text',
                    panelHeight:'200',
                      icons:[{
                          iconCls:'fa fa-remove',
                          handler: function(e){
                              $(e.data.target).combobox('clear');
                          }
                      }],
                    url:'/mdata/organization/getOrgListByTypeAndTenant?orgType=department'">
			</div>
		</div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">施工地点</label>
            <div class="topjui-input-block">
                <input type="text" name="workAddr"
                       data-toggle="topjui-combobox"
                       data-options="prompt:'施工地点',
					   	required:true,
						prompt:'必填',
						editable:true,
                   		panelHeight:150,
                   		url:'/cost/fAccount/getWorkAddr',
                   		valueField:'work_addr',
    					textField:'work_addr'"
                >
            </div>
        </div>
    </div>


    <div class="topjui-row">
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">工作类型</label>
            <div class="topjui-input-block">
                <input type="text" name="workType"
                       data-toggle="topjui-combobox"
                       data-options="prompt:'工作类型',
					   	required:true,
						prompt:'必填',
                   		panelHeight:150,
                   		url:'/system/dicSet/getDicItemByCode?code=f.workType',
                   		valueField:'value',
    					textField:'text'"
                >
            </div>
        </div>
    </div>

    <div class="topjui-row">
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">工作量</label>
            <div class="topjui-input-block">
                <input type="text" name="workload"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'工作量'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">核算单位</label>
            <div class="topjui-input-block">
                <input type="text" name="workUnit"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'核算单位'">
            </div>
        </div>
    </div>

    <div class="topjui-row">
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">挂账日期</label>
            <div class="topjui-input-block">
                <input type="text" name="creditDate"
                       data-toggle="topjui-datebox"
                       data-options="prompt:'挂账日期'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">结算起始日</label>
            <div class="topjui-input-block">
                <input type="text" name="accountDate1"
                       data-toggle="topjui-datebox"
                       data-options="prompt:'结算起始日'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">结算截至日</label>
            <div class="topjui-input-block">
                <input type="text" name="accountDate2"
                       data-toggle="topjui-datebox"
                       data-options="prompt:'结算截至日'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">财务报账单号</label>
            <div class="topjui-input-block">
                <input type="text" name="accountNo"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'财务报账单号'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">资金性质</label>
            <div class="topjui-input-block">
                <input type="text" name="fundType"
                       data-toggle="topjui-combobox"
                       data-options="prompt:'资金性质',
                   		panelHeight:150,
                   		url:'/system/dicSet/getDicItemByCode?code=f.fundType',
                   		valueField:'value',
    					textField:'text'"
                >
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">结算性质</label>
            <div class="topjui-input-block">
                <input type="text" name="accountType"
                       data-toggle="topjui-combobox"
                       data-options="prompt:'结算性质',
                   		panelHeight:150,
                   		url:'/system/dicSet/getDicItemByCode?code=f.accountType',
                   		valueField:'value',
    					textField:'text'"
                >
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">结算金额</label>
            <div class="topjui-input-block">
                <input type="text" name="accountBala"
                       data-toggle="topjui-numberbox"
                       data-options="prompt:'结算金额'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">合同约定付款</label>
            <div class="topjui-input-block">
                <input type="text" name="payScale"
                       data-toggle="topjui-numberbox"
                       data-options="prompt:'合同约定付款'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">预留款</label>
            <div class="topjui-input-block">
                <input type="text" name="keepBala"
                       data-toggle="topjui-numberbox"
                       data-options="prompt:'预留款'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">质保金</label>
            <div class="topjui-input-block">
                <input type="text" name="retenBala"
                       data-toggle="topjui-numberbox"
                       data-options="prompt:'质保金'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">扣款金额</label>
            <div class="topjui-input-block">
                <input type="text" name="cutBala"
                       data-toggle="topjui-numberbox"
                       data-options="prompt:'扣款金额'">
            </div>
        </div>
        <div class="topjui-col-sm12">
            <label class="topjui-form-label">备注</label>
            <div class="topjui-input-block">
                <input type="text" name="remark"
                       data-toggle="topjui-textarea"
                       data-options="prompt:'备注'"
                >
            </div>
        </div>



       <!-- <div class="topjui-col-sm6">
            <label class="topjui-form-label">管理科室</label>
            <div class="topjui-input-block">
                <input type="text" name="mngTeam"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'管理科室'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">累计支付金额</label>
            <div class="topjui-input-block">
                <input type="text" name="sumPay"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'累计支付金额'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">合同节超情况</label>
            <div class="topjui-input-block">
                <input type="text" name="contractDiff"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'合同节超情况'">
            </div>
        </div>

        <div class="topjui-col-sm6">
            <label class="topjui-form-label">审核日期</label>
            <div class="topjui-input-block">
                <input type="text" name="checkDate"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'审核日期'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">审核人员</label>
            <div class="topjui-input-block">
                <input type="text" name="checkUser"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'审核人员'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">上报日期</label>
            <div class="topjui-input-block">
                <input type="text" name="modiDate"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'上报日期'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">上报人员</label>
            <div class="topjui-input-block">
                <input type="text" name="modiUser"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'上报人员'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">审核步骤</label>
            <div class="topjui-input-block">
                <input type="text" name="status"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'审核步骤'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">日志编号</label>
            <div class="topjui-input-block">
                <input type="text" name="checkNo"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'日志编号'">
            </div>
        </div>-->
    </div>

</div>