<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
<div data-toggle="topjui-layout" data-options="fit:true">
	<div data-options="region:'west',iconCls:'icon-reload',width:'40%',title:'',split:true,border:false">
		<table data-toggle="topjui-datagrid"
			   data-options="id:'fContractDg',
               singleSelect:true,
               selectOnCheck:false,
               checkOnSelect:false,
               childGrid:{
                    param:'contractId:uuid',
                    grid:[
                    {type:'datagrid',id:'fAccountDg'}
                    ]
               },
               url:'/cost/fContract/getPageSet'">
			<thead>
			<tr>
				<th data-options="field:'uuid',title:'',sortable:true,checkbox:true"></th>
				<th data-options="field:'contractNo',title:'合同编号',sortable:true"></th>
				<th data-options="field:'contractName',title:'合同名称',sortable:true"></th>
				<th data-options="field:'bidType',title:'竞标类别',sortable:true"></th>
				<th data-options="field:'buyType',title:'采办方式',sortable:true"></th>
				<th data-options="field:'currency',title:'币种',sortable:true"></th>
				<th data-options="field:'contractBala',title:'合同金额',sortable:true"></th>
				<th data-options="field:'beginDate',title:'合同开始日',sortable:true"></th>
				<th data-options="field:'endDate',title:'合同结束日',sortable:true"></th>
				<th data-options="field:'teamNoName',title:'维护部门',sortable:true"></th>
			</tr>
			</thead>
		</table>
	</div>
    <div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false">
        <table data-toggle="topjui-datagrid"
               data-options="id:'fAccountDg',
               singleSelect:true,
               selectOnCheck:false,
               checkOnSelect:false,
               url:'/cost/fAccount/getPageSet'">
            <thead>
            <tr>
				<th data-options="field:'uuid',title:'',sortable:true,checkbox:true"></th>
				<th data-options="field:'accountMonth',title:'结算年份',sortable:true"></th>
				<th data-options="field:'creditTeamName',title:'结算单位',sortable:true"></th>
				<th data-options="field:'workTeamName',title:'施工单位',sortable:true"></th>
				<th data-options="field:'workAddr',title:'施工地点',sortable:true"></th>
				<th data-options="field:'workType',title:'工作类型',sortable:true"></th>
				<th data-options="field:'workUnit',title:'核算单位',sortable:true"></th>
				<th data-options="field:'workload',title:'工作量',sortable:true"></th>
				<th data-options="field:'accountDate1',title:'结算起始日',sortable:true"></th>
				<th data-options="field:'accountDate2',title:'结算截至日',sortable:true"></th>
				<th data-options="field:'creditDate',title:'挂账日期',sortable:true"></th>
				<th data-options="field:'accountNo',title:'财务报账单号',sortable:true"></th>
				<th data-options="field:'fundType',title:'资金性质',sortable:true"></th>
				<th data-options="field:'accountType',title:'结算性质',sortable:true"></th>
				<th data-options="field:'accountBala',title:'结算金额',sortable:true"></th>
				<th data-options="field:'payScale',title:'合同约定付款',sortable:true"></th>
				<th data-options="field:'keepBala',title:'预留款',sortable:true"></th>
				<th data-options="field:'retenBala',title:'质保金',sortable:true"></th>
				<th data-options="field:'cutBala',title:'扣款金额',sortable:true"></th>
				<th data-options="field:'remark',title:'备注',sortable:true"></th>
			</tr>
            </thead>
        </table>
    </div>
</div>

	<div id="fContractDg-toolbar" class="topjui-toolbar"
		 data-options="grid:{
           type:'datagrid',
           id:'fContractDg'
       }" style="display:none">
		<a href="javascript:void(0)"
		   data-toggle="topjui-menubutton"
		   data-options="method:'filter',
       extend:'#fContractDg-toolbar',
       btnCls:'topjui-btn-orange'">过滤</a>
		<a href="javascript:void(0)"
		   data-toggle="topjui-menubutton"
		   data-options="method:'search',
       extend:'#fContractDg-toolbar',
       btnCls:'topjui-btn-purple'">查询</a>
		<form class="search-box" id="queryForm" name="dataForm" method="post">
			名称/简拼:
			<input type="text" name="query_contractName" id="contractName" data-toggle="topjui-textbox"
				   data-options="id:'contractName',prompt:'名称/简拼',width:135">
			<a href="javascript:void(0)"
			   data-toggle="topjui-menubutton"
			   data-options="method:'query',
            iconCls:'fa fa-search',
            btnCls:'topjui-btn-red',
            form:{id:'queryForm'},
            grid:{type:'datagrid','id':'fContractDg'}">查询</a>
		</form>
	</div>
<!-- 表格工具栏 -->
<div id="fAccountDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'fAccountDg'
       }" style="display:none">
		<ewsd:rbac str="fAccountAddDialog">
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="method:'openDialog',
           extend:'#fAccountDg-toolbar',
           btnCls:'topjui-btn-green',
           parentGrid:{
               type:'datagrid',
               id:'fContractDg',
               param:'contractId:uuid',
               unselectedMsg:'请先选择左侧合同信息'
           },
           dialog:{
               id:'fAccountAddDg',
               href:'/cost/fAccount/edit',
               height:450,
               buttonsGroup:[
                   {text:'保存',url:'/cost/fAccount/save',iconCls:'fa fa-plus',handler:'ajaxForm'}
               ]
           }">新增</a>
		</ewsd:rbac>

        <ewsd:rbac str="fAccountEditDialog">
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="method:'openDialog',
           extend:'#fAccountDg-toolbar',
           btnCls:'topjui-btn-blue',
           component:'edit',
           iconCls:'fa fa-pencil',
           dialog:{
               id:'fAccountEditDg',
               href:'/cost/fAccount/edit',
               url:'/cost/fAccount/getDetailByUuid?uuid={uuid}',
               height:450,
               buttonsGroup:[
                   {text:'更新',url:'/cost/fAccount/update',iconCls:'fa fa-save',handler:'ajaxForm',refresh:[{type:'datagrid',id:'fAccountDg'}]}
               ]
           }">编辑</a>
		</ewsd:rbac>

        <ewsd:rbac str="/cost/fAccount/deleteBatch">
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="method:'doAjax',
           extend:'#fAccountDg-toolbar',
           btnCls:'topjui-btn-red',
	       iconCls:'fa fa-trash',
	       grid:{uncheckedMsg:'请先勾选要删除的用户',param:'uuid:uuid'},
	       url:'/cost/fAccount/deleteBatch'">删除</a>
		</ewsd:rbac>
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="method:'filter',
       extend:'#fAccountDg-toolbar',
       btnCls:'topjui-btn-orange'">过滤</a>
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="method:'search',
       extend:'#fAccountDg-toolbar',
       btnCls:'topjui-btn-purple'">查询</a>
	<br />
	<form id="queryForm2" name="dataForm" method="post" style="padding-top: 5px;padding-left: 5px;">
		结算年份:
		<input type="text" name="query_accountMonth"
			   data-toggle="topjui-combobox"
			   data-options="prompt:'结算年份',
                   		panelHeight:150,
                   		width:135,
                   		url:'/system/dicSet/getDicItemByCode?code=sys.year',
                   		valueField:'value',
    					textField:'text'"
		>
		结算单位:
		<input type="text" name="query_creditTeam"
			   data-toggle="topjui-combobox"
			   data-options="prompt:'结算单位',
					valueField:'id',
                    textField:'text',
                    panelHeight:'200',
                    width:170,
                      icons:[{
                          iconCls:'fa fa-remove',
                          handler: function(e){
                              $(e.data.target).combobox('clear');
                          }
                      }],
                    url:'/mdata/organization/getOrgListByTypeAndTenant?orgType=department'"
		>
		施工单位:
		<input type="text" name="query_workTeam"
			   data-toggle="topjui-combobox"
			   data-options="prompt:'施工单位',
					valueField:'id',
                    textField:'text',
                    panelHeight:'200',
                    width:170,
                      icons:[{
                          iconCls:'fa fa-remove',
                          handler: function(e){
                              $(e.data.target).combobox('clear');
                          }
                      }],
                    url:'/mdata/organization/getOrgListByTypeAndTenant?orgType=department'"
		>
		<a href="javascript:void(0)"
		   data-toggle="topjui-menubutton"
		   data-options="method:'query',
            iconCls:'fa fa-search',
            btnCls:'topjui-btn-red',
            form:{id:'queryForm2'},
            grid:{type:'datagrid','id':'fAccountDg'}">查询</a>
	</form>
</div>
</th:block>

<th:block layout:fragment="js">

</th:block>
</body>
</html>