<style>
    .topjui-col-sm4, .topjui-col-sm6, .topjui-col-sm12 {
        margin-top: 10px;
    }
</style>
<input type="hidden" id="uuid" name="uuid">
<div class="topjui-fluid">
    <div class="topjui-row">
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">仓库编号</label>
            <div class="topjui-input-block">
                <input type="text" name="storeNo"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'仓库编号',required:true,validType:'length[2,2]'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">货位编号</label>
            <div class="topjui-input-block">
                <input type="text" name="siteCode"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'货位编号',required:true,validType:'length[8,8]'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">货位名称</label>
            <div class="topjui-input-block">
                <input type="text" name="siteName"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'货位名称',required:true">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">货位说明</label>
            <div class="topjui-input-block">
                <input type="text" name="remark"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'货位说明'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">名称简拼</label>
            <div class="topjui-input-block">
                <input type="text" name="wordLevel"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'不填写自动生成'">
            </div>
        </div>
        <!--<div class="topjui-col-sm6">
            <label class="topjui-form-label">备注</label>
            <div class="topjui-input-block">
                <input type="text" name="note"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'备注'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">类型</label>
            <div class="topjui-input-block">
                <input type="text" name="type"
                       data-toggle="topjui-numberbox"
                       data-options="prompt:'类型'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">状态</label>
            <div class="topjui-input-block">
                <input type="text" name="status"
                       data-toggle="topjui-numberbox"
                       data-options="prompt:'状态'">
            </div>
        </div>
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">0</label>
            <div class="topjui-input-block">
                <input type="text" name="isDel"
                       data-toggle="topjui-numberbox"
                       data-options="prompt:'0'">
            </div>
        </div>-->
    </div>
</div>