<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
<div data-toggle="topjui-layout" data-options="fit:true">
    <div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false">
        <table data-toggle="topjui-datagrid"
               data-options="id:'sysUserStoreDg',
               singleSelect:true,
               selectOnCheck:false,
               checkOnSelect:false,
               url:'/system/sysUserStore/getPageSet'">
            <thead>
            <tr>
                								<th data-options="field:'uuid',title:'主键',sortable:true,checkbox:true"></th>
						    									<th data-options="field:'createTime',title:'创建时间',sortable:true"></th>
						    									<th data-options="field:'creator',title:'创建人',sortable:true"></th>
						    									<th data-options="field:'creatorId',title:'创建人标识',sortable:true"></th>
						    									<th data-options="field:'creatorOrgId',title:'组织机构ID',sortable:true"></th>
						    									<th data-options="field:'modifierId',title:'修改人标识',sortable:true"></th>
						    									<th data-options="field:'modifier',title:'修改人',sortable:true"></th>
						    									<th data-options="field:'modifyTime',title:'修改时间',sortable:true"></th>
						    									<th data-options="field:'userId',title:'用户',sortable:true"></th>
						    									<th data-options="field:'storeNo',title:'仓库',sortable:true"></th>
						    	            </tr>
            </thead>
        </table>
    </div>
</div>

<!-- 表格工具栏 -->
<div id="sysUserStoreDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'sysUserStoreDg'
       }" style="display:none">
		<ewsd:rbac str="sysUserStoreAddDialog">
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="method:'openDialog',
           extend:'#sysUserStoreDg-toolbar',
           btnCls:'topjui-btn-green',
           dialog:{
               id:'sysUserStoreAddDg',
               href:'/system/sysUserStore/edit',
               height:450,
               buttonsGroup:[
                   {text:'保存',url:'/system/sysUserStore/save',iconCls:'fa fa-plus',handler:'ajaxForm'}
               ]
           }">新增</a>
		</ewsd:rbac>

        <ewsd:rbac str="sysUserStoreEditDialog">
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="method:'openDialog',
           extend:'#sysUserStoreDg-toolbar',
           btnCls:'topjui-btn-blue',
           component:'edit',
           iconCls:'fa fa-pencil',
           dialog:{
               id:'sysUserStoreEditDg',
               href:'/system/sysUserStore/edit',
               url:'/system/sysUserStore/getDetailByUuid?uuid={uuid}',
               height:450,
               buttonsGroup:[
                   {text:'更新',url:'/system/sysUserStore/update',iconCls:'fa fa-save',handler:'ajaxForm',refresh:[{type:'datagrid',id:'sysUserStoreDg'}]}
               ]
           }">编辑</a>
		</ewsd:rbac>

        <ewsd:rbac str="/system/sysUserStore/deleteBatch">
        <a href="javascript:void(0)"
           data-toggle="topjui-menubutton"
           data-options="method:'doAjax',
           extend:'#sysUserStoreDg-toolbar',
           btnCls:'topjui-btn-red',
	       iconCls:'fa fa-trash',
	       grid:{uncheckedMsg:'请先勾选要删除的用户',param:'uuid:uuid'},
	       url:'/system/sysUserStore/deleteBatch'">删除</a>
		</ewsd:rbac>
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="method:'filter',
       extend:'#sysUserStoreDg-toolbar',
       btnCls:'topjui-btn-orange'">过滤</a>
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="method:'search',
       extend:'#sysUserStoreDg-toolbar',
       btnCls:'topjui-btn-purple'">查询</a>
</div>
</th:block>

<th:block layout:fragment="js">

</th:block>
</body>
</html>