<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
<div data-toggle="topjui-layout" data-options="fit:true">
	<div data-options="region:'west',iconCls:'icon-reload',width:'30%',title:'分管领导',split:true,border:false">
		<table data-toggle="topjui-datagrid"
			   data-options="id:'barMasterDg',
               singleSelect:true,
               selectOnCheck:false,
               checkOnSelect:false,
               childGrid:{
                    param:'leader:uuid',
                    grid:[
                    {type:'datagrid',id:'fChargeFeeDg'}
                    ]
               },
               url:'/cost/barMaster/getPageSetYearFee'">
			<thead>
			<tr>
				<!--<th data-options="field:'uuid',title:'',sortable:true,checkbox:true"></th>-->
				<th data-options="field:'positionName',title:'职务',sortable:true"></th>
				<th data-options="field:'userName',title:'姓名',sortable:true"></th>
				<th data-options="field:'yearBudSum',title:'年度指标-合计',sortable:true"></th>
				<th data-options="field:'yearBudSum',title:'财务上报-合计',sortable:true"></th>
			</tr>
			</thead>
		</table>
	</div>
    <div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false">
        <table data-toggle="topjui-edatagrid"
               data-options="id:'fChargeFeeDg',
               reloadAfterSave:true,
               singleSelect:true,
               selectOnCheck:false,
               checkOnSelect:false,
               url:'/cost/fChargeFee/getPageSet',
               updateUrl:'/cost/fChargeFee/eUpdateSbCw'
		">
            <thead>
            <tr>
				<th data-options="field:'uuid',title:'',sortable:true,checkbox:true"></th>
				<th data-options="field:'teamNoName',title:'责任单位',sortable:true"></th>
				<th data-options="field:'itemName',title:'费用项目',sortable:true"></th>
				<th data-options="field:'yearBud',title:'年度指标',sortable:true"></th>
				<th data-options="field:'calcWay',title:'测算依据',sortable:true"></th>
				<th data-options="field:'assPeriod',title:'考核周期',sortable:true"></th>
				<th data-options="field:'financeBala',sortable:true,
					editor:{
						type:'numberbox',
						options:{required:true,height:30,min:0,precision:2}
					}">财务上报
				</th>
				<!--<th data-options="field:'feeId',title:'费用ID',sortable:true"></th>
				<th data-options="field:'leader',title:'领导ID',sortable:true"></th>
				<th data-options="field:'ifOffice',title:'是否科室;是科室，则自动汇总成部门汇总表',sortable:true"></th>
				<th data-options="field:'itemId',title:'科目ID',sortable:true"></th>
				<th data-options="field:'fMonth',title:'财务月份;年预算、月发生',sortable:true"></th>
				<th data-options="field:'monthBud',title:'月度定额',sortable:true"></th>
				<th data-options="field:'lastBala',title:'上期结余',sortable:true"></th>
				<th data-options="field:'monthBala',title:'月度费用',sortable:true"></th>
				<th data-options="field:'financeBala',title:'财务统计额',sortable:true"></th>
				<th data-options="field:'monthAssess',title:'月度考核;根据科目的测算方式，非时间的均按月考核；季度，半年，年度根据周期来；',sortable:true"></th>
				<th data-options="field:'diffBala',title:'节超金额',sortable:true"></th>
				<th data-options="field:'diffScale',title:'节超比例',sortable:true"></th>
				<th data-options="field:'sumBala',title:'累计金额',sortable:true"></th>
				<th data-options="field:'surplusBala',title:'剩余金额',sortable:true"></th>
				<th data-options="field:'remark',title:'备注',sortable:true"></th>-->
			</tr>
            </thead>
        </table>
    </div>
</div>

<!-- 表格工具栏 -->
<div id="fChargeFeeDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'fChargeFeeDg'
       }" style="display:none">

	<a href="javascript:void(0)"
	   data-toggle="topjui-menubutton"
	   data-options="method:'edatagrid',
       extend:'#fChargeFeeDg-toolbar',
       btnCls:'topjui-btn-blue',
       type:'saveRow',
       iconCls:'fa fa-save'">保存</a>
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="method:'filter',
       extend:'#fChargeFeeDg-toolbar',
       btnCls:'topjui-btn-orange'">过滤</a>
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="method:'search',
       extend:'#fChargeFeeDg-toolbar',
       btnCls:'topjui-btn-purple'">查询</a>
	<form class="search-box" id="queryForm" name="dataForm" method="post">
		年份:
		<input type="text" name="query_year" id="query_year"
			   data-toggle="topjui-combobox"
			   data-options="prompt:'默认当年',
                   		width:100,
                   		panelHeight:150,
                   		url:'/system/dicSet/getDicItemByCode?code=sys.year',
                   		valueField:'value',
    					textField:'text'"
		>
		月份:
		<input type="text" name="query_month" id="query_month"
			   data-toggle="topjui-combobox"
			   data-options="prompt:'默认当月',
                   		width:100,
                   		panelHeight:150,
                   		url:'/system/dicSet/getDicItemByCode?code=sys.month',
                   		valueField:'value',
    					textField:'text'"
		>
		<a href="javascript:void(0)"
		   data-toggle="topjui-menubutton"
		   data-options="method:'query',
            iconCls:'fa fa-search',
            btnCls:'topjui-btn-red',
            form:{id:'queryForm'},
            grid:{type:'datagrid','id':'fChargeFeeDg'}">查询</a>
	</form>
</div>
</th:block>

<th:block layout:fragment="js">
	<script th:inline="javascript">
		//页面前置参数
		var request_query_year = [[${query_year}]];
		var request_query_month = [[${query_month}]];

		$(function () {
			// $('#fChargeFeeDg').iDatagrid({
			// 	onLoadSuccess: function(){
			// 		//console.log('request_query_year======='+request_query_year);
			// 	}
			// });
			$('#query_year').iCombobox('setValue', request_query_year);
			$('#query_month').iCombobox('setValue', request_query_month);
		})
	</script>
</th:block>
</body>
</html>