<table class="editTable">
	<tr>
		<td class="label">用户名</td>
		<td><input type="text" class="topjui-textbox" name="username" ></td>
		<td class="label">部门</td>
		<td><input type="text" id="topComboTree" name="orgId" ></td>
		<td class="label">姓名</td>
		<td><input type="text" class="topjui-textbox" name="name" ></td>
	</tr>
	<tr>
		<td class="label">性别</td>
		<td><input type="radio" name="sex" data-toggle="icheck" checked="checked" data-label="男" >男  
		    <input type="radio" name="sex" data-toggle="icheck" data-label="女" >女</td>
		<td class="label">出生日期</td>
		<td><input type="text" class="topjui-datebox" name="birthday" ></td>
		<td class="label">身份证号</td>
		<td><input type="text" class="topjui-textbox" name="idCardNo" ></td>
	</tr>
	<tr>
		<td class="label">籍贯</td>
		<td><input type="text" class="topjui-textbox" name="nativeplace" ></td>
		<td class="label">民族</td>
		<td><input type="text" id="topCombobox" name="nation" ></td>
		<td class="label">户口所在地</td>
		<td><input type="text" class="topjui-textbox" name="hkAdress" ></td>
	</tr>
	<tr>
		<td class="label">呢称</td>
		<td><input type="text" class="topjui-numberspinner" name="nickname" ></td>
		<td class="label">学历</td>
		<td><input type="text" class="topjui-textbox" name="degree" ></td>
		<td class="label">毕业院校</td>
		<td><input type="text" class="topjui-textbox" name="education" ></td>
	</tr>
	<tr>
		<td class="label">电话</td>
		<td><input type="text" class="topjui-textbox" name="tel" ></td>
		<td class="label">手机</td>
		<td><input type="text" class="topjui-textbox" name="mobile" ></td>
		<td class="label">邮箱地址</td>
		<td><input type="text" class="topjui-validatebox" name="email" ></td>
	</tr>
	<tr>
		<td class="label">办公地址</td>
		<td><input type="text" class="topjui-textbox" name="address" ></td>
		<td class="label">参加工作日期</td>
		<td><input type="text" class="topTextbox topDatebox" name="jobTime" ></td>
		<td class="label">所在单位</td>
		<td><input type="text" class="topjui-textbox" name="company" ></td>
	</tr>
	<tr>
		<td class="label">岗位名称</td>
		<td><input type="text" class="topjui-textbox" name="post" ></td>
		<td class="label">岗位职衔</td>
		<td><input type="text" class="topjui-textbox" name="postrank" ></td>
		<td class="label">职务专业技术</td>
		<td><input type="text" class="topjui-textbox" name="proDuty" ></td>
	</tr>
	<tr>
		<td class="label">公司职务</td>
		<td><input type="text" class="topjui-textbox" name="companyDuty" ></td>
		<td class="label">是否出国</td>
		<td><input type="radio" name="isGoAbroad" data-toggle="icheck" data-label="是" >是  
		    <input type="radio" name="isGoAbroad" data-toggle="icheck" checked="checked" data-label="否" >否</td>
		<td class="label">状态</td>
		<td><select name="status" data-toggle="selectpicker" data-width="300">
		         <option >启用</option>
		         <option >禁用</option>
		    </select></td>
	</tr>
	<tr>
		<td class="label">政治面貌</td>
		<td><input type="text" class="topjui-textbox" name="political" ></td>
		<td class="label">入党日期</td>
		<td><input type="text" class="topTextbox topDatebox" name="joinPartyDate" ></td>
		<td class="label">申请入党日期</td>
		<td><input type="text" class="topTextbox topDatebox" name="applypartydate" ></td>
	</tr>
	<tr>
		<td class="label">列为积极分子日期</td>
		<td><input type="text" class="topTextbox topDatebox" name="activepartydate" ></td>
		<td class="label">列为发展对象日期</td>
		<td><input type="text" class="topTextbox topDatebox" name="developobjectdate" ></td>
		<td class="label">入党介绍人</td>
		<td><input type="text" class="topjui-textbox" name="introduceman" ></td>
	</tr>
	<tr>
		<td class="label">支部大会通过日期</td>
		<td><input type="text" class="topjui-textbox" name="passdate" ></td>
		<td class="label">上级组织批准日期</td>
		<td><input type="text" class="topTextbox topDatebox" name="approvedate" ></td>
		<td class="label">预备党员转正日期</td>
		<td><input type="text" class="topTextbox topDatebox" name="conversiondate" ></td>
	</tr>
	<tr>
		<td class="label">当前所在党委</td>
		<td><input type="text" class="topjui-textbox" name="partyBranch" ></td>
		<td class="label">当前所在支部</td>
		<td><input type="text" class="topjui-textbox" name="orgRelBranch" ></td>
		<td class="label">角色</td>
		<td><input type="text" class="topjui-textbox" name="partyDuty" ></td>
	</tr>
	<tr>
		<td class="label">党员流动信息</td>
		<td><input type="text" class="topjui-textbox" name="flowinfromation" ></td>
		<td class="label">离开中共日期</td>
		<td><input type="text" class="topTextbox topDatebox" name="leavepartydate" ></td>
		<td class="label">出党原因</td>
		<td><input type="text" class="topjui-textbox" name="leavepartyreason" ></td>
	</tr>
	<tr>
		<td class="label">恢复党籍日期</td>
		<td><input type="text" class="topTextbox topDatebox" name="recoverpartydate" ></td>
		<td class="label">是否困难党员</td>
		<td><input type="radio" name="isDifMember" data-toggle="icheck" data-label="是" >是
		    <input type="radio" name="isDifMember" data-toggle="icheck" checked="checked" data-label="否" >否</td>
		<td class="label">是否老党员</td>
		<td><input type="radio" name="isOldMember" data-toggle="icheck" data-label="是" >是
		    <input type="radio" name="isOldMember" data-toggle="icheck" checked="checked" data-label="否" >否</td>
	</tr>
	<tr>
		<td class="label">月缴纳党费</td>
		<td><input type="text" class="topjui-textbox" name="partymondues" ></td>
		<td class="label">备注</td>
		<td><input type="text" class="topjui-textbox" name="remark" ></td>
	</tr>
</table>