
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">
        <style>
            .editTable .label {
                min-width: 80px;
                width: 80px;
            }
        </style>
    </th:block>
</head>

<body>
<th:block layout:fragment="content">

<table class="editTable">
    <tr>
        <td class="label">用户名</td>
        <td><input type="text"  id="userNameId" name="userNameId" th:value="${user.userNameId}"></td>
    </tr>
    <tr>
        <td class="label">姓名</td>
        <td><input type="text" id="userName" name="userName" th:value="${user.userName}"></td>
    </tr>
    <tr>
        <td class="label">新密码</td>
        <td><input type="text" id="password" name="password">
        </td>
    </tr>
    <tr>
        <td class="label">重复新密码</td>
        <td><input type="text" id="password2" name="password2"></td>
    </tr>
</table>
</th:block>

<th:block layout:fragment="js">
    <script type="text/javascript">
        $(function () {

            $('#userNameId').iTextbox({
                width: 200,
                readonly: true
            });
            $('#userName').iTextbox({
                width: 200,
                readonly: true
            });
            $('#password').iPasswordbox({
                width: 200,
                required: true,
                validType: 'minLength[6]'
            });
            $('#password2').iPasswordbox({
                width: 200,
                required: true,
                validType: "equals['#password']"
            });
        });
    </script>
</th:block>
</body>
</html>
