<input type="hidden" id="uuid" name="uuid">
<input type="hidden" name="password">
<style>
	.textbox-icon{
		width: 26px !important;
		text-align: center;
		text-decoration: none;
		color: gray;
		line-height: 29px;
	}
	a:hover{
		text-decoration: none;
	}
</style>
<div class="topjui-fluid">
	<fieldset>
		<legend>基本信息</legend>
	</fieldset>


	<div class="topjui-row">
		<div class="topjui-col-sm6"><label class="topjui-form-label">所属机构</label>
			<div class="topjui-input-block">
				<input type="hidden" name="orgName">
				<input type="text" name="orgId" id="orgId"
					   data-toggle="topjui-combotree"
					   data-options="required:true,
                   prompt:'必填',
                   <!--multiple:true,-->
                   <!--multivalue:true,-->
                   url:'/mdata/organization/getListByLevelId?levelId=1',
                   expandUrl:'/mdata/organization/getListByPid?pid={id}',
                   getFatherIdsUrl:'/mdata/organization/getFatherIds?id={id}',
                   param:'orgName:text'">
			</div>
		</div>
		<div class="topjui-col-sm6"><label class="topjui-form-label">职务</label>
			<div class="topjui-input-block">
				<input type="text" name="post" id="post"
					   data-toggle="topjui-combobox"
					   data-options="required:true,
                   prompt:'必填',
                   panelHeight:190,
                   url:'/system/dicSet/getDicItemByCode?code=post',
                   valueField:'value',
    				textField:'text'">
			</div>
		</div>
	</div>



</div>
<script>

</script>
