package ${package}.service;

import ${basepackage}.common.utils.easyui.PageParam;
import ${basepackage}.common.utils.easyui.PageSet;
import ${package}.model.${className};
import ${package}.service.${SystemName}BaseService;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @Author ${author}
 * @Email ${email}
 * @Date ${datetime}
 */
public interface ${className}Service extends ${SystemName}BaseService<${className}, String> {

    PageSet<${className}> getPageSet(PageParam pageParam, String filterSort);

	${className} queryObject(${pk.attrType} ${pk.attrname});
	
	List<${className}> queryList(Map<String, Object> map);
	
	int queryTotal(Map<String, Object> map);

    int executeSave(${className} ${classname});
	
	int executeUpdate(${className} ${classname});
	
	int executeDelete(${pk.attrType} ${pk.attrname});
	
	int executeDeleteBatch(${pk.attrType}[] ${pk.attrname}s);

	List<${className}> queryListByFS(String filterSort);

	List<${className}> queryListByIds(String[] uuids);
}
