<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
<div data-toggle="topjui-layout" data-options="fit:true">
    <form id="directForm" method="post">
        <div data-options="region:'north',iconCls:'icon-reload',title:'',split:true,border:false,height:'280px'">
            <div class="topjui-fluid" style="margin-top: 10px">
                <div class="topjui-row">
                    <div class="topjui-col-sm3">
                        <label class="topjui-form-label">物料编码：</label>
                        <div class="topjui-input-block">
                            <select id="matNo" name="matNo"></select>
                        </div>
                    </div>
                    <div class="topjui-col-sm3">
                        <label class="topjui-form-label">入库仓库：</label>
                        <div class="topjui-input-block">
                            <input data-toggle="topjui-combobox" id="storeNo" name="storeNo"
                                   data-options="
                                   valueField:'storeNo',
                                   textField:'storeName',
                                   url:'/repository/mStore/getStoreList?chkUser=true&storeLevel=r.storeLevel.1,r.storeLevel.0',
                                   onSelect: function(rec){
            				            var urls = '/material/mSite/getListByStoreNo?storeNo='+rec.id;
            				            $('#reserve2').iCombobox('reload', urls);
        				            },
                                   width:'200px'">
                        </div>
                    </div>
                </div>
                <div class="topjui-row">
                    <div class="topjui-col-sm3">
                        <label class="topjui-form-label">物料描述：</label>
                        <div class="topjui-input-block">
                            <span id="matNameSpan" style="line-height: 29.5px"></span>
                        </div>
                    </div>
                    <div class="topjui-col-sm3">
                        <label class="topjui-form-label">货位：</label>
                        <div class="topjui-input-block">
                            <input data-toggle="topjui-combobox" id="reserve2" name="reserve2"
                                   data-options="editable:true,
                                   valueField:'uuid',
                                   textField:'siteName',
                                   width:'200px'">
                        </div>
                    </div>
                    <!--<div class="topjui-col-sm3">
                        <label class="topjui-form-label">供应商：</label>
                        <div class="topjui-input-block">
                            <input data-toggle="topjui-combobox" id="offerNo" name="offerNo"
                                   data-options="editable:true,
                                   valueField:'offerNo',
                                   textField:'offerName',
                                   url:'/material/mOffer/getOfferList',
                                   width:'200px'">
                        </div>
                    </div>-->
                </div>
                <div class="topjui-row">
                    <div class="topjui-col-sm3">
                        <label class="topjui-form-label">计量单位：</label>
                        <span id="matUnitSpan" style="line-height: 29.5px"></span>
                    </div>
                    <div class="topjui-col-sm3">
                        <label class="topjui-form-label">入库数量：</label>
                        <div class="topjui-input-block">
                            <input id="curAmount" data-toggle="topjui-textbox" name="curAmount" data-options="width:'200px'" value="">
                        </div>
                    </div>
                </div>
                <div class="topjui-row">
                    <div class="topjui-col-sm3">
                        <label class="topjui-form-label">单价：</label>
                        <span id="matPriceSpan" style="line-height: 29.5px"></span>
                    </div>
                    <div class="topjui-col-sm6">
                        <label class="topjui-form-label">申请日期：</label>
                        <div class="topjui-input-block">
                            <input id="applyDate" name="applyDate" th:value="${applyDate}" type="text" data-toggle="topjui-datebox" data-options="width:'200px'">
                        </div>
                    </div>
                </div>
                <div class="topjui-row">
                    <div class="topjui-col-sm3">
                        <label class="topjui-form-label">是否结算：</label>
                        <div class="topjui-input-block">
                            <select id="ifAccount" data-toggle="topjui-combobox" name="ifAccount" data-options="width:200">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="topjui-col-sm3">
                        <label class="topjui-form-label">备注：</label>
                        <div class="topjui-input-block">
                            <input id="remark" data-toggle="topjui-textbox" name="remark" data-options="width:'200px'" value="">
                        </div>
                    </div>
                </div>
                <div class="topjui-row">
                    <div class="topjui-col-sm6">
                        <label class="topjui-form-label"></label>
                        <a href="javascript:void(0)" id="saveBtn" class="l-btn topjui-btn-green l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
                            <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
                                <span class="l-btn-text">保存</span>
                                <span class="l-btn-icon fa fa-check">&nbsp;</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false">
        <table id="directDg"></table>
    </div>
</div>

<!-- 表格工具栏 -->
<div id="directDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'directDg'
       }" style="display:none">

    <label class="topjui-form-label" style="width:80px;float:none;display:inline-block">申请日期：</label>
    <input id="startDateQry" name="startDateQry" th:value="${startDate}" type="text" data-toggle="topjui-datebox" data-options="width:'150px'">
    <label class="topjui-form-label" style="width:20px;float:none;display:inline-block">到</label>
    <input id="endDateQry" name="endDateQry" th:value="${applyDate}" type="text" data-toggle="topjui-datebox" data-options="width:'150px'">

    <label class="topjui-form-label" style="width:80px;float:none;display:inline-block">入库仓库：</label>
    <input data-toggle="topjui-combobox" id="storeNoQry" name="storeNoQry" data-options="valueField:'storeNo',textField:'storeName',url:'/repository/mStore/getStoreList?chkUser=true&storeLevel=r.storeLevel.1',width:'150px'">

    <label class="topjui-form-label" style="width:110px;float:none;display:inline-block">物料编码/描述：</label>
    <input id="matQry" data-toggle="topjui-textbox" name="matQry" data-options="width:'150px'" value="">

    <a href="javascript:void(0)" id="searchBtn" class="l-btn topjui-btn-orange l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
        <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
            <span class="l-btn-text">查询</span>
            <span class="l-btn-icon fa fa-search">&nbsp;</span>
        </span>
    </a>
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="
           btnCls:'topjui-btn-green',
           iconCls:'fa fa-cloud-upload',
           onClick:selectImport
         ">导入Excel</a>

</div>
</th:block>

<th:block layout:fragment="js">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            $('#matNo').iCombogrid({
                width:'200px',
                panelWidth:'400px',
                idField:'matNo',
                textField:'matCode',
                mode:'remote',
                url:'/material/mMaterial/getMatListForSel',
                columns:[ [
                    {field:'matCode', title:'材料编码'},
                    {field:'matName', title:'材料名称'},
                    {field:'matPrice', title:'价格'}
                ] ],
                onSelect: function(newValue, oldValue){
                    var g = $('#matNo').iCombogrid("grid");
                    var r = g.iDatagrid('getSelected');
                    $('#matNameSpan').text(r.matName);
                    $('#matUnitSpan').text(r.matUnit);
                    $('#matPriceSpan').text(r.matPrice);
                }
            });

            $('#directDg').iDatagrid({
                singleSelect: true,
                selectOnCheck: false,
                checkOnSelect: false,
                url: '/repository/directIn/getPageSet',
                queryParams:{
                    startDateQry:$('#startDateQry').iDatebox('getValue'),
                    endDateQry:$('#endDateQry').iDatebox('getValue'),
                    storeNoQry:$('#storeNoQry').iCombobox("getValue"),
                    matQry:$('#matQry').iTextbox("getValue")
                },
                columns:[ [
                    {
                        field:'inStepName', sortable:false, title:'状态'
                    },{
                        field:'applyDate', sortable:false, title:'申请日期'
                    },{
                        field:'inDate', sortable:false, title:'物入日期'
                    },{
                        field:'inTypeName', sortable:false, title:'入库类型'
                    },{
                        field:'erpType', sortable:false, title:'物料组'
                    },{
                        field:'typeName', sortable:false, title:'物料组描述'
                    },{
                        field:'matCode', sortable:false, title:'材料编码'
                    },{
                        field:'matName', sortable:false, title:'材料描述'
                    },{
                        field:'matUnit', sortable:false, title:'单位'
                    },{
                        field:'setPrice', sortable:false, title:'价格'
                    },{
                        field:'inAmount', sortable:false, title:'到货数量'
                    },{
                        field:'bala', sortable:false, title:'金额'
                    },{
                        field:'applyEmpName', sortable:false, title:'申请人员'
                    },{
                        field:'billNo', sortable:false, title:'入库单号'
                    },{
                        field:'reserve2', sortable:false, title:'货位'
                    },{
                        field:'remark', sortable:false, title:'备注'
                    }
                ] ]
            });

            $('#searchBtn').click(function(){
                reloadData();
            });

            $('#saveBtn').click(function(){
                $('#directForm').iForm('submit', {
                    url:'/repository/directIn/save',
                    success:function(data){
                        data = $.parseJSON(data);
                        if(data.statusCode == 200){
                            $.iMessager.show({
                                title:data.title,
                                msg:data.message
                            })
                            reloadData();
                        } else {
                            $.iMessager.alert({
                                icon:'messager-error',
                                title:data.title,
                                msg:data.message
                            });
                        }
                    }
                });
            });
        });

        function reloadData(){
            $('#directDg').iDatagrid('reload',{
                startDateQry:$('#startDateQry').iDatebox('getValue'),
                endDateQry:$('#endDateQry').iDatebox('getValue'),
                storeNoQry:$('#storeNoQry').iCombobox("getValue"),
                matQry:$('#matQry').iTextbox("getValue")
            });
        }
    </script>
    <script>
        function selectImport() {
            var $editDialog = $('<form id="importDialog"></form>'); // 创建form表单元素
            $editDialog.iDialog({
                title: '导入Excel',
                width: 950,
                height: 450,
                closed: false,
                cache: false,
                href: '/repository/directIn/goImport',//增加页面
                modal: true
            });
        }
    </script>
</th:block>
</body>
</html>