<style>
    .topjui-col-sm4, .topjui-col-sm6, .topjui-col-sm12 {
        margin-top: 10px;
    }
    .topjui-form-label{
        width: 60px;
    }
    .topjui-input-block{
        margin-left: 70px;
    }
</style>
<input type="hidden" id="uuid" name="uuid">
<input type="hidden" id="apiUuid" name="apiUuid">
<div class="topjui-fluid">
    <div class="topjui-row">
        <!--<div class="topjui-col-sm6">-->
            <!--<label class="topjui-form-label">创建人ID</label>-->
            <!--<div class="topjui-input-block">-->
                <!--<input type="text" name="creatorId"-->
                       <!--data-toggle="topjui-textbox"-->
                       <!--data-options="prompt:'创建人ID'">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="topjui-col-sm6">-->
            <!--<label class="topjui-form-label">创建时间</label>-->
            <!--<div class="topjui-input-block">-->
                <!--<input type="text" name="createTime"-->
                       <!--data-toggle="topjui-textbox"-->
                       <!--data-options="prompt:'创建时间'">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="topjui-col-sm6">-->
            <!--<label class="topjui-form-label">修改人ID</label>-->
            <!--<div class="topjui-input-block">-->
                <!--<input type="text" name="modifierId"-->
                       <!--data-toggle="topjui-textbox"-->
                       <!--data-options="prompt:'修改人ID'">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="topjui-col-sm6">-->
            <!--<label class="topjui-form-label">修改时间</label>-->
            <!--<div class="topjui-input-block">-->
                <!--<input type="text" name="modifyTime"-->
                       <!--data-toggle="topjui-textbox"-->
                       <!--data-options="prompt:'修改时间'">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="topjui-col-sm6">-->
            <!--<label class="topjui-form-label">创建人机构ID</label>-->
            <!--<div class="topjui-input-block">-->
                <!--<input type="text" name="creatorOrgId"-->
                       <!--data-toggle="topjui-textbox"-->
                       <!--data-options="prompt:'创建人机构ID'">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="topjui-col-sm12">-->
            <!--<label class="topjui-form-label">类型</label>-->
            <!--<div class="topjui-input-block">-->
                <!--<input type="text" name="type"-->
                       <!--data-toggle="topjui-textbox"-->
                       <!--data-options="prompt:'类型'">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="topjui-col-sm6">-->
            <!--<label class="topjui-form-label">连接类型</label>-->
            <!--<div class="topjui-input-block">-->
                <!--<input type="text" name="joinType"-->
                       <!--data-toggle="topjui-textbox"-->
                       <!--data-options="prompt:'连接类型'">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="topjui-col-sm6">-->
            <!--<label class="topjui-form-label">左括号</label>-->
            <!--<div class="topjui-input-block">-->
                <!--<input type="text" name="lb"-->
                       <!--data-toggle="topjui-textbox"-->
                       <!--data-options="prompt:'左括号'">-->
            <!--</div>-->
        <!--</div>-->
        <div class="topjui-col-sm12">
            <label class="topjui-form-label">字段名</label>
            <div class="topjui-input-block">
                <input type="text" name="field"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'字段名'">
            </div>
        </div>
        <!--<div class="topjui-col-sm6">-->
            <!--<label class="topjui-form-label">条件</label>-->
            <!--<div class="topjui-input-block">-->
                <!--<input type="text" name="op"-->
                       <!--data-toggle="topjui-textbox"-->
                       <!--data-options="prompt:'条件'">-->
            <!--</div>-->
        <!--</div>-->
        <div class="topjui-col-sm12">
            <label class="topjui-form-label">字段值</label>
            <div class="topjui-input-block">
                <input type="text" name="value"
                       data-toggle="topjui-textbox"
                       data-options="prompt:'字段值'">
            </div>
        </div>
        <!--<div class="topjui-col-sm6">-->
            <!--<label class="topjui-form-label">右括号</label>-->
            <!--<div class="topjui-input-block">-->
                <!--<input type="text" name="rb"-->
                       <!--data-toggle="topjui-textbox"-->
                       <!--data-options="prompt:'右括号'">-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>