<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>
<!--井下周转登记-->
<body>
<th:block layout:fragment="content">
<div data-toggle="topjui-layout" data-options="fit:true">
	<form id="fixPlanForm" style="height:100%">
		<div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false,height:'100%'">
			<table id="fixPlanDg"></table>
		</div>
	</form>
</div>

<!-- 表格工具栏 -->
<div id="fixPlanDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'fixPlanDg'
       }" style="display:none">

	<label class="topjui-form-label" style="width:90px">计划月份：</label>
	<select id="yearQry" data-toggle="topjui-combobox" name="yearQry" data-options="width:80" >
		<option th:each="i:${#numbers.sequence(2015, endYear)}" th:value="${i}" th:text="${i}" th:selected="${i==currentYear}"></option>
	</select>
	<select id="monQry" data-toggle="topjui-combobox" name="monQry" data-options="width:80" >
		<option th:each="i:${#numbers.sequence(1, 12)}" th:value="${i<10 ? '0'.toString()+i : i}" th:text="${i<10 ? '0'.toString()+i : i}" th:selected="${i==currentMonth}"></option>
	</select>

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">管理科室：</label>
	<input id="mngTeamQry" name="mngTeamQry" value="">

	<label class="topjui-form-label" style="width:110px;float:none;display:inline-block">回收修复单位：</label>
	<input data-toggle="topjui-combobox" name="teamNoQry" id="teamNoQry" value="" data-options="valueField:'id',textField:'text',url:'/mdata/organization/getOrgListByTypeAndTenant?orgType=department',width:'150px'">

	<label class="topjui-form-label" style="width:70px;float:none;display:inline-block">步骤：</label>
	<input data-toggle="topjui-combobox" name="stepQry" id="stepQry" value="" data-options="valueField:'processNo',textField:'processName',url:'/system/sysAuditProcess/getListByFuuid?fuuid=2FFEBAADCB474944ABF1DB51F22839A0',width:'150px'">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">计划类型：</label>
	<input data-toggle="topjui-combobox" name="fixTypeQry" id="fixTypeQry" value="" data-options="valueField:'value',textField:'text',url:'/system/dicSet/getDicItemByCode?code=m.fixType',width:'150px'">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">物料：</label>
	<input id="matQry" data-toggle="topjui-textbox" name="matQry" data-options="width:'150px'" value="">

	<a href="javascript:void(0)" id="searchBtn" class="l-btn topjui-btn-orange l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
		<span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
			<span class="l-btn-text">查询</span>
			<span class="l-btn-icon fa fa-search">&nbsp;</span>
		</span>
	</a>

	<a href="javascript:void(0)" id="downloadBtn" class="l-btn topjui-btn-green l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
        <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
            <span class="l-btn-text">下载</span>
            <span class="l-btn-icon fa fa-download">&nbsp;</span>
        </span>
	</a>

</div>
</th:block>

<th:block layout:fragment="js">
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function(){
			var modiRight = [[${modiRight}]];

			$('#mngTeamQry').iCombobox({
				valueField:'id',
				textField:'text',
				width:'150px',
				url:'/fix/fixPlanQry/getMngTeam?monthQry='+$('#yearQry').iCombobox('getValue')+$('#monQry').iCombobox('getValue'),
				loadFilter:function(data){
					data.unshift({id:'', text:'--全部--'});
					return data
				}
			})

			$('#yearQry').iCombobox({
				onChange:function(newValue, oldValue){
					$('#mngTeamQry').iCombobox('reload', '/fix/fixPlanQry/getMngTeam?monthQry='+newValue+$('#monQry').iCombobox('getValue'))
				}
			})

			$('#monQry').iCombobox({
				onChange:function(newValue, oldValue){
					$('#mngTeamQry').iCombobox('reload', '/fix/fixPlanQry/getMngTeam?monthQry='+$('#yearQry').iCombobox('getValue')+newValue)
				}
			})

			$('#fixPlanDg').iDatagrid({
				singleSelect:true,
				selectOnCheck:false,
				checkOnSelect:false,
				url:'/fix/fixPlanQry/getPageSet',
				queryParams:{
					yearQry:$('#yearQry').iCombobox('getValue'),
					monQry:$('#monQry').iCombobox('getValue'),
					mngTeamQry:$('#mngTeamQry').iCombobox('getValue'),
					teamNoQry:$('#teamNoQry').iCombobox('getValue'),
					stepQry:$('#stepQry').iCombobox('getValue'),
					fixTypeQry:$('#fixTypeQry').iCombobox('getValue'),
					matQry:$('#matQry').iTextbox('getValue')
				},
				columns:[ [
					{
						field:'planStepName', sortable:false, title:'步骤'
					},{
						field:'matCode', sortable:false, title:'物料编码'
					},{
						field:'matName', sortable:false, title:'物料描述'
					},{
						field:'matUnit', sortable:false, title:'单位'
					},{
						field:'planAmount', sortable:false, title:'计划数', formatter:function(value, row, index){
							if(modiRight && row.planStep=='7700F'){
								return '<a style="cursor:pointer; font-weight: bold; color: #00b7ee" modiBtn="'+row.planNo+'">'+ value +'</a>'
							}else{
								return value
							}
						}
					},{
						field:'matPrice', sortable:false, title:'单价', align:'right'
					},{
						field:'matBala', sortable:false, title:'原值', align:'right'
					},{
						field:'fixAddr', sortable:false, title:'备注'
					},{
						field:'endDate', sortable:false, title:'完成日期', formatter:function(value, row, index){
							if(value!=null && value!=''){
								return value.substring(0, 4) + '-' + value.substring(4, 6) + '-' + value.substring(6, 8);
							}else{
								return ''
							}
						}
					},{
						field:'teamName', sortable:false, title:'修复单位'
					},{
						field:'planTeamName', sortable:false, title:'管理科室'
					},{
						field:'planNo', sortable:false, title:'计划号'
					},{
						field:'fixTypeName', sortable:false, title:'计划类型'
					},{
						field:'planDate', sortable:false, title:'编制日期', formatter:function (value, row, index) {
							return value.substring(0, 4) + '-' + value.substring(4, 6) + '-' + value.substring(6, 8)
						}
					}
				] ],
				onLoadSuccess:function(data){
					$('[modiBtn]').click(function(value, row, index){
						var planNo = $(this).attr('modiBtn');
						$('#'+planNo).iDialog('openDialog', {
							id:planNo,
							title:'调整计划',
							href:'/fix/fixPlanQry/modiPlan?planNo='+planNo,
							buttons:[{
								text:'关闭',
								iconClass:'fa fa-close',
								btnCls:'topjui-btn-red',
								handler:function(){
									$('#'+planNo).iDialog('close');
								}
							},{
								text:'确认调整',
								iconClass:'fa fa-save',
								btnCls:'topjui-btn-blue',
								handler:function(){
									$('#'+planNo).iForm('submit', {
										url:'/fix/fixPlanQry/updatePlan',
										success:function(data){
											data = $.parseJSON(data);
											if(data.statusCode == 200){
												$.iMessager.show({
													title:data.title,
													msg:data.message
												})
												$('#'+planNo).iDialog('close');
												reloadData()
											} else {
												$.iMessager.alert({
													icon:'messager-error',
													title:data.title,
													msg:data.message
												});
											}
										}
									});
								}
							}]
						});
					})
				}
			});

			$('#searchBtn').click(function(){
				reloadData();
			});

			$('#downloadBtn').click(function(){
				$('#fixPlanForm').iForm('submit', {
					url:'/fix/fixPlanQry/download',
					success:function(data){

					}
				});
			});
		})

		function reloadData(){
			$('#fixPlanDg').iDatagrid('reload',{
				yearQry:$('#yearQry').iCombobox('getValue'),
				monQry:$('#monQry').iCombobox('getValue'),
				mngTeamQry:$('#mngTeamQry').iCombobox('getValue'),
				teamNoQry:$('#teamNoQry').iCombobox('getValue'),
				stepQry:$('#stepQry').iCombobox('getValue'),
				fixTypeQry:$('#fixTypeQry').iCombobox('getValue'),
				matQry:$('#matQry').iTextbox('getValue')
			});
		}
	</script>

</th:block>
</body>
</html>