<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ewsd="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout">

<head>
    <th:block layout:fragment="css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
<div data-toggle="topjui-layout" data-options="fit:true">
	<form id="bcDrawForm">
		<div data-options="region:'center',iconCls:'icon-reload',title:'',split:true,border:false">
			<table id="bcDrawDg"></table>
		</div>
	</form>
</div>

<!-- 表格工具栏 -->
<div id="bcDrawDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'bcDrawDg'
       }" style="display:none">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">申请日期：</label>
	<input id="date1Qry" name="date1Qry" th:value="${date1Qry}" type="text" data-toggle="topjui-datebox" data-options="width:'150px'">
	<label class="topjui-form-label" style="width:20px;float:none;display:inline-block">到</label>
	<input id="date2Qry" name="date2Qry" th:value="${date2Qry}" type="text" data-toggle="topjui-datebox" data-options="width:'150px'">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">成本中心：</label>
	<input data-toggle="topjui-combobox" name="centerQry" id="centerQry" value="" data-options="valueField:'centerNo',textField:'centerName',url:'/material/costCenter/getCenterSet',width:'150px'">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">入库仓库：</label>
	<input data-toggle="topjui-combobox" name="storeNoQry" id="storeNoQry" value="" data-options="valueField:'storeNo',textField:'storeName',url:'/repository/mStore/getStoreList?storeType=r.storeType2.11&storeLevel=r.storeLevel.1',width:'150px'">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">入库类型：</label>
	<input data-toggle="topjui-combobox" name="inTypeQry" id="inTypeQry" value="" data-options="valueField:'value',textField:'text',url:'/system/dicSet/getDicItemByCode?code=r.inBillType',width:'150px'">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">入库步骤：</label>
	<input data-toggle="topjui-combobox" name="inStepQry" id="inStepQry" value="" data-options="valueField:'processNo',textField:'processName',url:'/system/sysAuditProcess/getListByFuuid?fuuid=AA5C95C6F96E4B17BBF839930F6552CC',width:'150px'">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">是否结算：</label>
	<input data-toggle="topjui-combobox" id="accountQry" value="" name="accountQry" data-options="width:'150px',valueField:'value',textField:'text',data:[
    				{value:'', text:'--全部--'},
    				{value:'1', text:'是'},
    				{value:'0', text:'否'}
    			]">

	<label class="topjui-form-label" style="width:80px;float:none;display:inline-block">wbs元素：</label>
	<input id="wbsQry" data-toggle="topjui-textbox" name="wbsQry" data-options="width:'150px'" value="">

	<br />

	<label class="topjui-form-label" style="width:110px;float:none;display:inline-block">物料编码/描述：</label>
	<input id="matQry" data-toggle="topjui-textbox" name="matQry" data-options="width:'150px'" value="">

	<label class="topjui-form-label" style="width:10px;float:none;display:inline-block"></label>
	<input id="periodQry" data-toggle="topjui-textbox" name="periodQry" data-options="width:'50px'" th:value="${periodQry}" style="margin-left: 10px">
	<label class="topjui-form-label" style="width:50px;float:none;display:inline-block">天到期</label>

	<a href="javascript:void(0)" id="searchBtn" class="l-btn topjui-btn-orange l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
        <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
            <span class="l-btn-text">查询</span>
            <span class="l-btn-icon fa fa-search">&nbsp;</span>
        </span>
	</a>

	<a href="javascript:void(0)" id="downloadBtn" class="l-btn topjui-btn-blue l-btn-small" group="" style="position: static; display: inline-block; left: auto; height: 30px;">
        <span class="l-btn-left l-btn-icon-left" style="margin-top: 3px;">
            <span class="l-btn-text">下载</span>
            <span class="l-btn-icon fa fa-download">&nbsp;</span>
        </span>
	</a>

</div>
</th:block>

<th:block layout:fragment="js">
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function(){
			$('#centerQry').iCombobox({
				loadFilter:function(data){
					data.unshift({centerNo:'', centerName:'--全部--'});
					return data
				}
			})

			$('#storeNoQry').iCombobox({
				loadFilter:function(data){
					data.unshift({storeNo:'', storeName:'--全部--'});
					return data
				}
			})

			$('#inTypeQry').iCombobox({
				loadFilter:function(data){
					data.unshift({value:'', text:'--全部--'});
					return data
				}
			})

			$('#inStepQry').iCombobox({
				loadFilter:function(data){
					data.unshift({processNo:'', processName:'--全部--'});
					return data
				}
			})

			$('#bcDrawDg').iDatagrid({
				queryParams:{
					date1Qry:$('#date1Qry').iDatebox('getValue'),
					date2Qry:$('#date2Qry').iDatebox('getValue'),
					centerQry:$('#centerQry').iCombobox('getValue'),
					storeNoQry:$('#storeNoQry').iCombobox('getValue'),
					inTypeQry:$('#inTypeQry').iCombobox('getValue'),
					inStepQry:$('#inStepQry').iCombobox('getValue'),
					accountQry:$('#accountQry').iCombobox('getValue'),
					wbsQry:$('#wbsQry').iTextbox('getValue'),
					matQry:$('#matQry').iTextbox('getValue'),
					periodQry:$('#periodQry').iTextbox('getValue')
				},
				singleSelect:true,
				selectOnCheck:false,
				checkOnSelect:false,
				url:'/repository/bcDrawQry/getPageSet',
				columns:[ [
					{
						field:'reserve5',title:'退货',sortable:false, formatter:function(value, row, index){
							if(row.inStep=='7201F'){
								if(row.linkNo != ''){
									return '已退货'
								}else{
									return '<a style="font-weight:bold;color: #00a2d4;cursor: pointer" billNo="'+ row.billNo +'">退货</a>'
								}
							}else{
								return '---';
							}
						}
					},{
						field:'inStepName',title:'入库步骤',sortable:false
					},{
						field:'inTypeName',title:'入库类型',sortable:false
					},{
						field:'storeName',title:'入库仓库',sortable:false
					},{
						field:'matCode',title:'材料编码',sortable:false, formatter:function(value, row, index){
							if(value!='' && value!=null && value!=undefined){
								return value.substring(0, 1)=='X' ? value.substring(1) : value
							}else{
								return ''
							}
						}
					},{
						field:'matName',title:'材料描述',sortable:false
					},{
						field:'matUnit',title:'单位',sortable:false
					},{
						field:'setPrice',title:'价格',sortable:false,align:'right'
					},{
						field:'applyDate',title:'申请日期',sortable:false, formatter:function(value, row, index){
							return value.substring(0, 4) + '-' + value.substring(4, 6) + "-" + value.substring(6, 8);
						}
					},{
						field:'applyEmpName',title:'申请人员',sortable:false
					},{
						field:'applyAmount',title:'申请数量',sortable:false, align:'right'
					},{
						field:'billDate',title:'物入日期',sortable:false, formatter:function(value, row, index){
							return value//value.substring(0, 4) + '-' + value.substring(4, 6) + "-" + value.substring(6, 8);
						}
					},{
						field:'checkEname',title:'复核人员',sortable:false
					},{
						field:'billAmount',title:'账入数量',sortable:false, align:'right'
					},{
						field:'bala',title:'账入金额',sortable:false, align:'right'
					},{
						field:'reserve4',title:'生产日期',sortable:false, formatter:function(value, row, index){
							if(value!=null && value!=undefined && value!=''){
								return value.substring(0, 4) + '-' + value.substring(4, 6) + "-" + value.substring(6, 8);
							}else{
								return ''
							}
						}
					},{
						field:'qaPeriod',title:'保质期',sortable:false
					},{
						field:'erpType',title:'物料组描述',sortable:false, formatter:function(value, row, index){
							return value + ' ' + row.typeName
						}
					},{
						field:'remark',title:'备注',sortable:false
					}
				] ],
				onLoadSuccess:function(data){
					$('[billNo]').click(function(){
						var billNo = $(this).attr('billNo');
						$.iMessager.confirm('确认对话框', '确定退货吗？', function (r) {
							if(r){
								var postData = { billNo: billNo}; // 请求中携带的JSON数据
								var url = '/repository/bcDrawQry/back';//请求的地址
								$.post(url,postData,function (res) {
									if(res.statusCode == 200){
										$.iMessager.show({title: '我的消息', msg: res.message, timeout: 5000, showType: 'slide'});// '消息窗口'组件
										reloadData();
									}else {
										$.iMessager.alert('操作提示', res.message, 'messager-error');
									}
								},"JSON")
							}
						});
					})
				}
			});

			$('#searchBtn').click(function(){
				reloadData();
			});

			$('#downloadBtn').click(function(){
				$('#bcDrawForm').iForm('submit', {
					url:'/repository/bcDrawQry/export',
					success:function(data){

					}
				});
			});
		});

		function reloadData(){
			$('#bcDrawDg').iDatagrid('reload',{
				date1Qry:$('#date1Qry').iDatebox('getValue'),
				date2Qry:$('#date2Qry').iDatebox('getValue'),
				centerQry:$('#centerQry').iCombobox('getValue'),
				storeNoQry:$('#storeNoQry').iCombobox('getValue'),
				inTypeQry:$('#inTypeQry').iCombobox('getValue'),
				inStepQry:$('#inStepQry').iCombobox('getValue'),
				accountQry:$('#accountQry').iCombobox('getValue'),
				wbsQry:$('#wbsQry').iTextbox('getValue'),
				matQry:$('#matQry').iTextbox('getValue'),
				periodQry:$('#periodQry').iTextbox('getValue')
			});
		}
	</script>
</th:block>
</body>
</html>