<style>
    .topjui-col-sm4, .topjui-col-sm6, .topjui-col-sm12 {
        margin-top: 10px;
    }
</style>
<input type="hidden" id="uuid" name="uuid">
<div class="topjui-fluid">
	<div class="topjui-row">
    																			<div class="topjui-col-sm6">
			<label class="topjui-form-label">明细ID</label>
			<div class="topjui-input-block">
								<input type="text" name="detailId"
					data-toggle="topjui-textbox"
					data-options="prompt:'明细ID'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">考核ID</label>
			<div class="topjui-input-block">
								<input type="text" name="assessId"
					data-toggle="topjui-textbox"
					data-options="prompt:'考核ID'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">材料内码</label>
			<div class="topjui-input-block">
								<input type="text" name="matNo"
					data-toggle="topjui-textbox"
					data-options="prompt:'材料内码'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">计划数量</label>
			<div class="topjui-input-block">
								<input type="text" name="planAmount"
					data-toggle="topjui-textbox"
					data-options="prompt:'计划数量'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">材料价格</label>
			<div class="topjui-input-block">
								<input type="text" name="matPrice"
					data-toggle="topjui-textbox"
					data-options="prompt:'材料价格'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">回收标准</label>
			<div class="topjui-input-block">
								<input type="text" name="backNorm"
					data-toggle="topjui-textbox"
					data-options="prompt:'回收标准'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">回收数量</label>
			<div class="topjui-input-block">
								<input type="text" name="backAmount"
					data-toggle="topjui-textbox"
					data-options="prompt:'回收数量'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">回收率</label>
			<div class="topjui-input-block">
								<input type="text" name="backRatio"
					data-toggle="topjui-textbox"
					data-options="prompt:'回收率'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">实际发生</label>
			<div class="topjui-input-block">
								<input type="text" name="matAmount"
					data-toggle="topjui-textbox"
					data-options="prompt:'实际发生'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">完成率</label>
			<div class="topjui-input-block">
								<input type="text" name="overScale"
					data-toggle="topjui-textbox"
					data-options="prompt:'完成率'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">结算比例</label>
			<div class="topjui-input-block">
								<input type="text" name="accountScale"
					data-toggle="topjui-textbox"
					data-options="prompt:'结算比例'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">结算金额</label>
			<div class="topjui-input-block">
								<input type="text" name="accountBala"
					data-toggle="topjui-textbox"
					data-options="prompt:'结算金额'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">考核结果</label>
			<div class="topjui-input-block">
								<input type="text" name="result"
					data-toggle="topjui-textbox"
					data-options="prompt:'考核结果'">
							</div>
		</div>
    				<div class="topjui-col-sm6">
			<label class="topjui-form-label">备注信息</label>
			<div class="topjui-input-block">
								<input type="text" name="remark"
					data-toggle="topjui-textbox"
					data-options="prompt:'备注信息'">
							</div>
		</div>
    		</div>
</div>