<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/layout-bootstrap">

<head>
    <th:block layout:fragment="css">
        <style>
            .content{color: red}
        </style>
    </th:block>
</head>

<body>
<th:block layout:fragment="content">
    <div class="container" style="margin-top: 100px;">
        <div class="row main-low-margin">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-danger">
                    <div class="panel-heading text-center">操作提示</div>
                    <div class="panel-body text-center">
                        <p class="text-danger">缓存清理失败</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="js">

</th:block>
</body>
</html>